

<div class="row">
    <div class="col-3 ml-2 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left mt-3" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
    </div>
    <div class="col-3 ml">
        <h4 class="mt-3">My Cart</h4> 
    </div>
</div>
<div class="container">
    <div class="w-100 d-flex">
        <div class="container-img">
            <img src="https://i.postimg.cc/PqHwgjxX/banner-product.png" class="img ml-2 ps-3" alt="">
        </div>
        <div class="container">

        </div>
    </div>

</div>


