<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.1" />
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">Makasana</div>
        <div class="nav-items">
            <a href="/">Home</a> <a href="/">About</a> <a href="/">Contact</a>

    </div>
    </nav>
    <section class="hero"> 
        <div class="hero-container"> 
            <div class="column-left"> 
                <h1>Makasana</h1>
                <p>
                    The Online Store Near You vhvcdbjjvdj
                </p>
                <button>Get Started</button>

