

<div class="main-holder">
    <header>
        <label>Makasana</label>
        <button>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    
    <div class="body">
        <section id="home">
            <div class="home-holder">
                <h1>Makasana</h1>
                <p>we help build solid foundations</p>
            </div>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Iusto earum nostrum soluta 
                sit fuga ex delectus qui, quibusdam recusandae, 
                quos beatae rerum quod perferendis architecto numquam 
                sequi accusamus laborum natus?

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates odit blanditiis aspernatur, laudantium esse id accusantium ea eos fugit sit, porro obcaecati alias facere libero pariatur dicta ducimus qui velit.
            </p>

        </section>
        
    
    </div>
</div>