<div *ngIf="hasWebsite == 1">
    <header>
        <label>{{companyDetails.name}}</label>
        <button>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>

<div class="main-holder">
    
    <div class="body">
        <section id="home">
            <div class="home-holder">
                <h1>{{companyDetails.name}}</h1>
                <p>we help build solid foundations</p>
            </div>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>
                {{companyDetails.about}}
            </p>

        </section>

        <section id="services">
            <h2>Services</h2>
            <p>
                {{companyDetails.services}}
               
            </p>

        </section>

        <section id="products">
            <h2>Our Products</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Iusto earum nostrum soluta 
                
            </p>

        </section>

        <section id="contact">
            <h2>Where you can find us</h2>

            <div class="details">
                <label><mat-icon>pin_drop</mat-icon></label>
                <p>
                    {{companyDetails.address}}
                </p>
            </div>

            <div class="details">
                <label><mat-icon>call</mat-icon></label>
                <p>
                    {{companyDetails.phone}}
                </p>
            </div>

            <div class="details">
                <label><mat-icon>email</mat-icon></label>
                <p>
                    {{companyDetails.email}}
                </p>
            </div>
        </section>
    
    </div>
</div>
</div>

<div *ngIf="spnValue != 0">
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
</div>

<div class="not-found" *ngIf="hasWebsite == 2">
    
    <img src="../../../../assets/images/Not-found.jpg"/>

    <label>Company doesn't not have a website</label>
    <label>redirecting to <a routerLink="/makasana">Home</a>, in 3 secs</label>
    
</div>
