@media only screen and (max-width:700px){

.holder{
    background-color: white;
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.details-holder{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100%;

}

.image-view{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.details-view{
  width: 100%;
  padding: 10px 12px 55px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* __________ IMAGE SELECTOR _______ */


.btn-upload{
    
    background-color: rgb(211, 211, 211);
     min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-upload input {
    width: 150px;
    height: 150px;
    max-width: 100%;
    min-height: 150px;
    min-width: 150px;
    position: absolute;
    color: transparent;
    background-color: transparent;
    border: none;
    z-index: 1000;
    cursor: pointer;
    outline: none;
  }

  .btn-upload img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
  }

  .btn-upload input mat-icon {
   z-index: 1000;
   background-color: transparent;
   cursor: pointer;
  }


.btn-upload input::file-selector-button {
    position: absolute;
 
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .input-field{
    display: flex;
    flex-direction: column;
  }

  .input-field input, 
  .input-field textarea, 
  .input-field select{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
  }

  .input-field textarea{
    resize: none
  }

  .btnmeta-data{
    width: fit-content;
    background-color: transparent;
    border: none;
    align-self:flex-end;
    color: blue;

  }

  .btnSave{
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btnSave button{
    background-color: black;
    outline: none;
    border: none;
    color: white;
    padding: 10px 5px;
    font-size: 18px;
    width: 100%;
    border-radius: 8px;

  }
}