


<div class="holder">
    <div class="details-holder">
  

        <div class="details-view">

            <div class="input-field">
                
                <div class="">
                    <label>Location:</label>
                    <label>*</label>
                    
                </div>
                <input type="text" placeholder="Location">
                
                
                
            </div>

            <div class="input-field">
                <label>Address:</label>
                <textarea rows="6" autocomplete="on" autocorrect="true" cols="33"  type="text" placeholder="Address"></textarea>
            </div>

            

            <div class="input-field">
                <label>state/province:</label>
                <input type="text" placeholder="state/province">
            </div>

            <div class="input-field">
                <label> City:</label>
                <input type="text" placeholder="City">
            </div>

            <div class="input-field">
                <label>Contact details:</label>
                <input type="number" placeholder="Contact details">
            </div>
        </div>

        <div class="btnSave">
            <button><mat-icon>done</mat-icon></button>
        </div>
    </div>
    

    <div class="bottom-nav">

        <div class="nav-options" >

            <div class="nav-item">
                <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
            </div>

            <div class="nav-item">
                <button><mat-icon>assignment</mat-icon></button>
                
            </div>

            <div class="nav-item">
                <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
                <label>Products</label>
            </div>

            <div class="nav-item">
                <button><mat-icon>launch</mat-icon></button>
                
            </div>

            <div class="nav-item">
                <button><mat-icon>account_circle</mat-icon></button>
                
            </div>

        </div>
            
    </div>

</div>    


