a{
    text-decoration: none   ;
}
.border-radius-10{
    border-radius: 12 px;
    width: 80px;
    height: 38px;
    padding: 8;

}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color:blueviolet;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid white;
  }
  .no{
    display: none;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;z-index: 1000 !important;
    }
    .sidenav a {
        color: white;
        font-size: 18px;}
  }
  .diplay{
    display: none;
  }


  @media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .d-none{
        display: contents;
    }
    .no{
        display:block;
      }
    .d-con{
        display: none;
    }
}