<div class="holder">

  <!-- here -->


<!-- Nav-bar -->
  <div class="bottom-nav">

      <div class="nav-options" >

          <div class="nav-item">
              <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
          </div>

          <div class="nav-item">
              <button><mat-icon>assignment</mat-icon></button>
              <label>Orders</label>
          </div>

          <div class="nav-item">
              <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
              
          </div>

          <div class="nav-item">
              <button><mat-icon>launch</mat-icon></button>
              
          </div>

          <div class="nav-item">
              <button><mat-icon>account_circle</mat-icon></button>
              
          </div>

      </div>
          
  </div>

</div>    


