.Top-section{
  background-color: white;
  min-width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 12px 0px 12px;
}


.bg-top{
    background-color: purple;
    height: 80px;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
.w-10{
    width: 200px;
}
.ml{
    margin-left: 20px;
}
.m{
    margin-top: 7px;
}
.point{
    width: 9px;
    height: 9px;
    font-size: 20px;
    color: white;
    border-radius: 100px;
    background-color: black ;
}

.border-none{
    border: none;
}

.side img{

    width: 100%;
    height: auto;

  }

  .containe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    
  }
  .containe img{
    width:125px;
    height:125px;
    margin-top: 20%;
    margin-left: 10%;
    
  }
  .containe{
    margin-bottom: 10%;
    margin-top: 3%;
  }
  
  .bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
    padding-left: 5px;
   
  }

  .tra{
    height: 70px;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
    
  }

  .nav-options .nav-item:nth-child(2),
  .nav-options .nav-item:nth-child(2) button{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }

  .order-holder{
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .order{
    border: 1px solid rgb(192, 192, 192);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 10px;
  }

  .order p{
    margin: 0px;
  }

  .order hr{
    margin: 8px 0px;
  }

  .same-line{
    display: flex;
    gap: 8px;
    font-weight: 600;
  }

  .info{
    width: 100%;
  }

  .it{
    font-style: italic;
  }


  .invi{
    height: 66px;
  }