<div class="container">
    <p class="mt-3"><b>Makasana</b></p>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="container">

                  <div class="side">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKdeQTRwjdevF4W0leHML8ot1MSz_7whrJFQ&usqp=CAU">
                </div>
            
                <br/>
                <br/>
              <div class="container">
                <p class="mb-0"><b>ORDER HISTORY</b></p>
                <br/>
                <p class="text-align font">View current and previous orders</p>
                <hr/>
              </div>

        </div>
    </div>
    <div class="container">
        <div class="card containe p-2 mt-4">
            <div class="containe row">
                <div class="col-6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVqjAa4AfBpy0LzJ6dRNkXlxpG3hEhRjdFRQ&usqp=CAU">
                </div>
                <div class="col-6">
                    <p class="font2 mb-1"><b>Klean Kar Wash</b></p>
                    <hr/>
                    <p class="font-w mb-1">No: of items ordered</p>
                    <p class="font-w mb-1">Price</p>
                    <p class="font-w mb-1">DD-MM-YYYY</p>
                </div>
            </div>
        </div>
        <div class="card containe p-2 mt-4" routerLink="/user-order">
            <div class="containe row">
                <div class="col-6">
                    <img src="https://us.123rf.com/450wm/rachmatbudiaji/rachmatbudiaji2104/rachmatbudiaji210400074/168114280-food-burger-vector-logo-illustration.jpg?ver=6">
                </div>
                <div class="col-6">
                    <p class="font2 mb-1"><b>Burger Pozi</b></p>
                    <hr/>
                    <p class="font-w mb-1">No: of items ordered</p>
                    <p class="font-w mb-1">Price</p>
                    <p class="font-w mb-1">Payment method</p>
                    <p class="font-w mb-1">DD-MM-YYYY</p>
                </div>
            </div>
        </div>
        <div class="card containe p-2 mt-4">
            <div class="containe row">
                <div class="col-6">
                    <img src="https://img.freepik.com/premium-vector/silhouette-casual-man-with-sewing-machine-vintage-fashion-tailor-logo-design_57043-656.jpg">
                </div>
                <div class="col-6">
                    <p class="font2 mb-1"><b>Tailor Made</b></p>
                    <hr/>
                    <p class="font-w mb-1">No: of items ordered</p>
                    <p class="font-w mb-1">Price</p>
                    <p class="font-w mb-1">DD-MM-YYYY</p>
                </div>
            </div>
        </div>
        <div class="card containe p-2 mt-4">
            <div class="containe row">
                <div class="col-6">
                    <img src="https://cdn4.vectorstock.com/i/thumb-large/53/28/tuck-shop-vector-10235328.jpg">
                </div>
                <div class="col-6">
                    <p class="font2 mb-1"><b>Mohammed General Store</b></p>
                    <hr/>
                    <p class="font-w mb-1">No: of items ordered</p>
                    <p class="font-w mb-1">Price</p>
                    <p class="font-w mb-1">DD-MM-YYYY</p>
                </div>
            </div>
        </div>
        <div class="card containe p-2 mt-4">
            <p class="font2 mb-1"><b>Get Order Upates</b></p>
            <p class="font-w mb-1">Track updates with Makasana Wallet</p>
        </div>




        <div class="button  justify-content-center">
            <button class="btn border-radius-100  bg-dark text-white mt-3" routerLink="/landing-page">
                Continue To Home
            </button>
        </div>
    </div>



</div>
<div class="bottom-nav">

    <div class="nav-options" >

        <div class="nav-item">
            <button routerLink="/home"><mat-icon>store</mat-icon></button>
        </div>

        <div class="nav-item">
            <button routerLink="/track-order"><mat-icon>assignment</mat-icon></button>
            <label class="cart">orders</label>
            
        </div>

        <div class="nav-item">
            <button routerLink="/your-cart"><mat-icon>shopping_cart</mat-icon></button>

        </div>
        <div class="nav-item">
            <button routerLink="/consumer-profile"><mat-icon>account_circle</mat-icon></button>
            
        </div>
        <!-- <div class="nav-item">
            <button class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>
            </button>
        </div> -->

        <div class="nav-item">
            <button routerLink="/landing-page"><mat-icon>logout</mat-icon></button>

        </div>

    </div>
        
</div>