<div class="Top-section">
<app-top-bar></app-top-bar>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="container">

                  <div class="side">
                    <img src="https://i.postimg.cc/NLqjGw6C/vecteezy-delivery-van-movement-on-gps-map-laptop-screen-background-7278339-removebg-preview.png">
                </div>
            
                <br>
              <div class="container">
                <p class="text-align font"><b>ORDER HISTORY</b></p>
                <hr>
              </div>

        </div>
    </div>
    <div class="order-holder">

        <div *ngFor="let orderDe of Maporders.entries()" (click)="OpenOrder(orderDe[0])" class="order">

            <p class="order-number"># {{orderDe[0]}}</p>
            <hr>
            <div class="same-line">
            <label>Quantity:</label>
            <p class="info">{{orderDe[1].quantity}}</p>
            </div>
            <div class="same-line">
            <label>Date:</label>
            <p class="info">{{orderDe[1].order.date}}</p>
            </div>
            <div class="same-line">
            <label>Total:</label>
            <b><p class="info">{{orderDe[1].Total | currency: 'R'}}</p></b>
            </div>
            <hr>
            <div class="same-line">
            <label>Status:</label>
            <p class="info it">{{orderDe[1].order.order_status}}</p>
            </div>
            
        </div>
    </div>
    <div class="tra">

    </div> 
</div>

<div class="invi">

</div>

<div class="bottom-nav">

    <div class="nav-options" >

        <div class="nav-item">
            <button routerLink="/home"><mat-icon>store</mat-icon></button>
            <label>Categories</label>
        </div>

        <div class="nav-item">
            <button routerLink="/track-order"><mat-icon>assignment</mat-icon></button>
            <label class="cart">Orders</label>
            
        </div>

        <!-- <div class="nav-item">
            <button routerLink="/your-cart"><mat-icon>shopping_cart</mat-icon></button>

        </div> -->
        <div class="nav-item">
            <button routerLink="/consumer-profile"><mat-icon>account_circle</mat-icon></button>
            <label>Profile</label>
            
        </div>
        <!-- <div class="nav-item">
            <button class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>
            </button>
        </div> -->

        <div class="nav-item">
            <button routerLink="/makasana"><mat-icon>logout</mat-icon></button>
            <label>Logout</label>

        </div>

    </div>
        
</div>