<div class="d-flex">
    
</div>

<div class="container mt-3 ">
    <div class="d-flex jusify-content-center">
        <div class="card p-2">
            <div class="row">
                <div class="col-3">
                    <p class="text-wishlist mb-0"><b>Nike Air</b></p>
                    <p class="text-secondary"><b>Shoe</b></p>
                </div>
                <div class="col-6">
                    <div class="d-flex">
                        <img src="https://i.postimg.cc/PqHwgjxX/banner-product.png" alt="" class="img">
                        <div class="d-flex jusify-content-end ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex jusify-content-center">
                <div class="btn bg-light btn-a d-flex jusify-content-between">
                    <p class="mb-0 mt-1">R 300</p>
                    <div class="btn-cart bg-dark text-white ps-3 pb-3 p-2" >
                        <mat-icon>shopping_cart</mat-icon>zyy

                    </div>

               </div>
            </div>
        </div>

    </div>
</div>


<div class="bottom-nav">

    <div class="nav-options" >

        <div class="nav-item">
            <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
        </div>

        <div class="nav-item">
            <button><mat-icon>assignment</mat-icon></button>
            
        </div>

        <div class="nav-item">
            <button><mat-icon>shopping_cart</mat-icon></button>
        </div>
        <div class="nav-item">
            <button routerLink="/consumer-profile"><mat-icon>account_circle</mat-icon></button>
            
        </div>
        <div class="nav-item">
            <button class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>
            </button>
            <label class="cart">Wish List</label>
            
        </div>

    </div>
        
</div>
