<!-- <div class="img-url w-100"> -->
    <!-- <app-landing-nav-bar></app-landing-nav-bar> -->
    <!-- <div class="container mt-4"> -->
        <!-- <h1 class="text-white">Makasana</h1> -->
        <!-- <p class="text-white word-warp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum beatae sed omnis tenetur suscipit sit, deleniti sapiente, doloremque, consequuntur et eligendi magnam ea. Ducimus pariatur quidem expedita, voluptas eos nulla.</p> -->
    <!-- </div> -->
<!-- </div> -->

<div class="container">


<img src="" name="logo">
<h2 style="font-size: 13px;"> ABOUT US</h2>
<h2 class="business" style="font-size: 13px;">BUSINESS</h2> <h2 class="signup" style="font-size: 13px;">SIGN IN</h2>
 
</div>