<div class="holder">
    <div class="top-header">
        
        <label>ORDER COMFIRMATION</label>
    

    <div class="main">
        <label for="">Address:</label>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iusto, distinctio consequatur accusantium consectetur ad, unde repudiandae totam molestias impedit nulla, dolor velit quo fugiat nostrum dolores doloribus earum. Minima?
        </p>

        <label for="">Shipping method:</label >

            <div class="radio">
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label>Delivery</label>
            </div>

            <div class="radio">
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label>Pick up</label>
            </div>

        
        
    </div>
</div>

<input class="input-field" type ="text" place holder="smith" name="lname">
</div> 

<div class="input input-text full width">
<span class="input-label"> Email Address</span>
<input class="input-field" type="text" placeholder="someone@example.com" name="Email"></div>