<div class="holder">
    <div class="top-header">
        
        <label>ORDER COMFIRMATION</label>
    </div>

    <div class="main">
        <label for="">Address:</label>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iusto, distinctio consequatur accusantium consectetur ad, unde repudiandae totam molestias impedit nulla, dolor velit quo fugiat nostrum dolores doloribus earum. Minima?
        </p>

        <label for="">Shipping method:</label >

            <div class="radio">
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label> R15 Delivery Fee </label>
            </div>

            <div class="radio">
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label>R0.00 Pick up</label>
            </div>
<br>

<p></p>
            
<p> Order Number :</p>
<p>Subtotal :</p>

<div class="input input-text full width">

    
    
<mat-form-field>
  <mat-label>Select Payment Method</mat-label>
  <mat-select disabled="false">
    <mat-option value="option1">Cash on delivery</mat-option>
    <mat-option value="option3">Cash on pick up</mat-option>
  </mat-select>
</mat-form-field>

<br>
<div class="my-buttons"> 
    <button type="button" class="btn btn-outline-secondary">CANCEL</button>
<button type="button" class="btn btn-outline-primary">CONFIRM</button>
</div>


        </div>

    </div>
