<html>
  <head>

  </head>
  <body><div class="area"></div><nav class="main-menu">

                <li>
                    <a href="/Profile-component">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Home
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#" routerLink="/AboutUs-component">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            Campany Address
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#" routerLink="/ContactUs-component">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Contact Us
                        </span>
                    </a>

                </li>







             <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        <!-- </nav> -->
  <!-- </body> -->
    <!-- </html> -->
