.bg-top{
    background-color: purple;
    height: 80px;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
.w-10{
    width: 200px;
}
.ml{
    margin-left: 20px;
}
.m{
    margin-top: 7px;
}
.point{
    width: 9px;
    height: 9px;
    font-size: 20px;
    color: white;
    border-radius: 100px;
    background-color: black ;
}



.border-none{
    border: none;
}

.containe{
    display: flex;
    justify-content: center;
    align-items: left;
  }

  .containe img{
    width:100px;
    height:100px;
    margin-right: 0%;
    
  }
  .side svg{

    width: 20%;
    height: 20%;
    margin-left: 41%;
    margin-right: 20%;

  }
  
