.holder{
    display: flex;
    flex-direction: column;
}

.login{
    /* color: white; */
    position: fixed;
    margin-top: 10%;
    margin-left: 18%;
}
form{
    margin-top: 7%;
}

.emailInput{
    position: fixed;
    margin-top: 112px;
    margin-left: 2%;
}

#emailInput{
    position: fixed;
    margin-left: 25%;
    margin-top: 110px;
    border-radius: 10px;
    height: 30px;
    width: 250px;

}

.passwordInput{
    position: fixed;
    margin-top: 170px;
    margin-left: 2%; 
}

#passwordInput{
    position: fixed;
    margin-left: 25%;
    margin-top: 160px;
    border-radius: 10px;
    height: 30px;
    width: 250px;

}

.submit{
    background-color: blueviolet;
    margin-top: 250px;
    margin-left: 8%;
    height: 30px;
    width: 320px;
    color: white;
    border-radius: 10px;
    border: none;
}

.sub{
    background-color: blueviolet;
    /* margin-top: 90px; */
    margin-left: 30%;
    height: 30px;
    width: 320px;
    color: white;
    border-radius: 10px;
    border: none; 
}



.com{
    color: white;
    margin-top: 20%;
    margin-left: 20%;
}

.container{
    background-color: blueviolet;
    /* border-top-right-radius: 60%; */
    border-top-right-radius: 90%;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}


h5{
    margin-left: 18%;
    height: 87px;
    position: fixed;
    font-size: medium;
}