<img onclick="window.history.go(-1)" src="../../../../assets/images/back-svgrepo-com.svg" alt=""
class="left" srcset="" height="30px" width="30px">

<div class="holder">
    <!-- <div class="btnSave">
        <button><mat-icon>edit</mat-icon></button>
    </div> -->

    <div class="details-holder">
        <div class="image-view">
            <div class="btn-upload">
                <mat-icon [class]="z_index">camera_enhance</mat-icon>
                <input [disabled]="boolEdit" type="file" accept="image/png, image/jpeg" (change)= "loadImage($event)">    
            </div>
            <img [src]="products.image">
            <!-- <img src="https://images.samsung.com/is/image/samsung/p6pim/za/rb30j3611sa-fa/gallery/za-bottom-freezer-303l-rb30j3611sa-fa-536308508?$2160_1728_PNG$"/> -->
        </div>
        
        <div class="prod-options">
            <div>
                <button class="crt-promo">
                    Create promotion +
                </button>
            </div>
            <div *ngIf="!boolEdit" class="btn-cancel">
                <button (click)="mCancel()"><mat-icon>clear</mat-icon></button>
            </div>
            <div class="btn-edit">
                <button id="btnButtonn" (click)="mEdit()"><mat-icon>edit</mat-icon></button>
            </div>
        </div>

        <div class="input-fieldD">
            <hr> 
            <div class="input-fieldD">
                <label>Product Title</label>
            </div>
            
            <input [class]="clsEditable" [(ngModel)]="products.title" [disabled]="boolEdit" type="text" placeholder="Title" value="{{products.title}}">
        </div>

        <div class="input-fieldD">
            <hr>
            <label>Product Description</label>
            <textarea [class]="clsEditable" [disabled]="boolEdit" autocomplete="on" autocorrect="true" cols="33" type="text" [(ngModel)]="products.description" placeholder="Tell customers more about your product">{{products.description}}</textarea>
        </div>

        <div class="input-fieldD">
            <hr>
            <label>Product Condition</label>
            <select [class]="clsEditable" [disabled]="boolEdit" type="text" [(ngModel)]="products.condition" placeholder="Quantity">
                <option>new</option>
                <option>used</option>
            </select>
        </div>

        <div class="input-fieldD">
            <hr>
            <label>Product Price</label>
            <input [class]="clsEditable" [(ngModel)]="products.price" [disabled]="boolEdit" type="text" value="R{{products.price}}" placeholder="Price">
        </div>

        <div class="input-fieldD">
            <label>Product Quantity</label>
            <input [class]="clsEditable" [disabled]="boolEdit" [(ngModel)]="products.quantity" type="number" placeholder="Quantity" value="{{products.quantity}}">
        </div>
    </div>

    <div class="bottom-nav">
        <div class="nav-options" >
            <div class="nav-item">
                <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
            </div>

            <div class="nav-item">
                <button><mat-icon>assignment</mat-icon></button>
                
            </div>

            <div class="nav-item">
                <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
                <label>Products</label>
            </div>

            <div class="nav-item">
                <button><mat-icon>launch</mat-icon></button>
                
            </div>

            <div class="nav-item">
                <button routerLink="/buss-profile"><mat-icon>account_circle</mat-icon></button>
            </div>

        </div>
            
    </div>

</div>    
