

@media only screen and (max-width:700px){
    .holder{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        
        padding: 10px 12px;
        gap: 15px;

        
    }
    
    .Top-section{
            background-color: white;
            min-width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    }
    
    .stock-details{
        margin: 0px 0px 0px 0px;
        padding: 5px;
        background-color: white;
        height: auto;
        border-radius: 8px;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
        
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    }

    .top-te{
        padding: 5px 0 15px 0;
        margin: 0px;
    }


    .stock-details input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }

    .stock-details input:focus{
        width: 100%;
        border: none;
    }

    .top-det{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 10px;
        padding-top: 10px;
        height: 100%;
        gap: 15px;
    }

    .top-det p{
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }

    /* Bottom Section */
    .second-section{
        height: 100%;
        background-color: white;
    }

    .Categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        justify-content: center;
    }

    .category-item{
        background-color: white;
        min-width: 140px;
        border: 1px solid rgb(170, 170, 170);
        min-height: 140px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;

    }

    .cate-image{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        flex-grow: 1;
        
        
    }
    .cate-text{
        padding: 5px;
        gap: 2px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .cate-text label:nth-child(1){
        font-weight: bold;
    }
}

.holder{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    padding: 10px 12px;
    gap: 15px;

    
}

.Top-section{
        background-color: white;
        min-width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.stock-details{
    margin: 0px 0px 0px 0px;
    padding: 5px;
    background-color: white;
    height: auto;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.top-te{
    padding: 5px 0 15px 0;
    margin: 0px;
}


.stock-details input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.stock-details input:focus{
    width: 100%;
    border: none;
}

.top-det{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    padding-top: 10px;
    height: 100%;
    gap: 15px;
}

.top-det p{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/* Bottom Section */
.second-section{
    height: 100%;
    background-color: white;
}

.Categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-content: center;
}

.category-item{
    background-color: white;
    min-width: 140px;
    border: 1px solid rgb(170, 170, 170);
    min-height: 140px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.cate-image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    flex-grow: 1;
    
    
}
.cate-text{
    padding: 5px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.cate-text label:nth-child(1){
    font-weight: bold;
}
 
.bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .tra{
    height: 65px;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }

  .nav-options .nav-item:nth-child(1),
  .nav-options .nav-item:nth-child(1) button{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }
  