<div class="holder">

    <h1 class="login">Login to your Business Account</h1>
<form name="form" >


    <div class="form-group" id="email">
      <img src="../">
      <label class="emailInput" for="email">Email :</label>
      <input type="text" name=" company_email" class="form-control" placeholder=" Company Email" id="emailInput">
    </div>
    
    <div class="form-group" id="password">
       <label class="passwordInput" for="password">Password :</label> 
       <input type="password" name="password" class="form-control" placeholder=" Password" id="passwordInput">
    </div>


    <button class="submit" routerLink="/dashboard" type="submit">login</button>

    <button class="sub" routerLink="/home">Customer</button>
   

    <h5>Don't have an account? <a routerLink="/company-signup" id="loginName"> Register </a></h5>

  </form>

   <div class="container"> 
  <h2 class="com">Welcome back</h2>
</div>
</div>


