.top-bar{
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
padding-right: 10px;
}

.top-bar button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    cursor: pointer;
}

.top-bar button span{
    width: 20px;
    height: 3px;
    background-color: black;
}

.top-bar button mat-icon{
    padding: 0px;
}
