<div class="top-bar">


    
    <img onclick="window.history.go(-1)" src="../../../../assets/images/back-svgrepo-com.svg" alt="" style="width: 25px; height: 25px;">
   

    <button  routerLink="/your-cart"><mat-icon [matBadge]="cartCount" matBadgeColor="warn">shopping_cart</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
    </button>
</div>