.main-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.illustration{
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img{
  height: 120px;
  width: auto;

}


.container{
    
  margin-top: 53px;
  justify-content: center;
}
.dropdown .dropdown-toggle::after {
    display:none;
    /* border-left: 0.3em solid transparent; */
}

.dropdown{
  width: 100%;
  display: flex;
  justify-content: center;

}

.dropdown button{
  padding: 5px;
  width: 60%;
  background-color: transparent;
  border: 1px solid rgb(65, 130, 226);
  border-radius: 8px;
  color: rgb(65, 130, 226);
  font-weight: 600;
}


.top-header {
  
  color: black;
  text-align: center;
  font-weight: bold;

  justify-content: center;
}

.checkout{
  text-align: center;
  justify-content: center;

}

.order-summary {
  height: 50px;
  height: 50px;
  color: black;
  text-align: center;
  font-weight: bold;
}


.top-bar{
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 10px;
  top: 0;
}

.top-bar button{
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
}

.top-bar button span{
  width: 20px;
  height: 3px;
  background-color: black;
}

.top-bar button mat-icon{
  padding: 0px;
}

.postion-fixed{

  position: fixed;
  bottom: 0px;
  height: 65px;

}
.postion-fixed-1{

  position: fixed;
  bottom: 70px;
  height: 65px;

}
.home-icon{
  height: 35px;
  width: 37px;
}

.justify-content-space-between{
justify-content: space-between;
}
.justify-content-space-around{
justify-content: space-around;

}
.w-20{
width: 300px;
}
.text-width{
width: 200px;
}
.mr10{
margin-left: 250px;
}
.jusify-content-center{
justify-content: center;
}
.font-total{
font-size: 30px;
}
.border-radius{
border-radius: 20px;

width: 259px;
}
.text-size{
font-size: 12px;
padding-left: 8px;
}
.over{
height: 410px;
overflow: scroll;

}
.font-amount-items{
font-size: 19px;
background-color: rgb(75, 75, 236);
color: white;
border-radius: 100%;
height: 40px;
/* width:  30px; */
}
.jusify-content-end{
justify-content: end;
}
.ml-3{
margin-left: 128px;
}

.ml{
margin-left: 50px;
width: 100px;
}
.pl{

padding-left: 16px;
height: 29px;
border-radius: 20px;
}
.ml-2{
margin-left: 20px;

}
.fonts{
font-size: 12px;
}


.w-1{
width: 100px;
}

/* _----------Cart Item ------------ */

.items-holder{

height: 100%;
padding: 8px;
display: flex;
gap: 5px;
flex-direction: column;
}

section{
padding-top: 50px;
padding-bottom: 70px;
}

hr{
margin: 0px;
}

.item{
display: flex;
width: 100%;
align-items: center;
max-height: 100px;
gap: 8px;
padding: 10px 10px;
}

.item p{
margin: 0;
}

.item .img{
background-color: gainsboro;
border-radius: 5px;
width: 80px;
height: 80px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.item .img img{
width: 100%;
height: auto;
}

.item-details{
display: flex;
flex-direction: column;
flex-grow: 1;
height: 100%;
}

.bot-det{
display: flex;
flex-direction: row;
gap: 5px;
}

.price{
width: 100%;
flex-basis: 1;
}

.price p{
font-size: medium;
}

.qty-c{
display: flex;
flex-direction: row;
gap: 5px;
}

.qty-c button{
padding: 0px;
background-color: transparent;
border: none;
outline: none;
}

.qty-c p{
font-size: 15px;
align-items: center;
display: flex;
justify-content: center;
}

.div-tit{
flex-grow: 1;
flex-basis: 1;
padding: 5px 0px;
height: 100%;
}

.div-tit p{

font-size: 16px;
font-weight: 600;

}

.total-btn {
display: flex;
width: 100%;
padding: 5px;


}

.total-btn button {

background-color: blueviolet;
border: none;
border-radius: 10px;
padding: 5px 10px;
color: white;

}
.total-btn label {

flex-grow: 1;
font-size: 17px;
font-weight: 600;

}


.bottom-nav{
background-color: white;
padding: 8px;
position: fixed;
bottom: 0;
display: flex;

border: none;
outline: none;
border-top: 1px solid rgb(204, 204, 204);
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.nav-options{
display: grid;
flex-direction: row;
grid-template-columns: repeat(5, 1fr);
background-color: transparent;
width: 100%;
border: none;
gap: 0px;
}

.nav-item{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;
}

b{
text-align: center;

}

.text{
display: flex;
justify-content: center;
align-items: center;
}

.top-bar{
height: auto;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
position: fixed;
padding: 10px;
}

.top-bar button{
background-color: transparent;
border: none;
outline: none;
display: flex;
gap: 3px;
flex-direction: column;
justify-content:center ;
align-items: center;
}

.top-bar button span{
width: 20px;
height: 3px;
background-color: black;
}

.top-bar button mat-icon{
padding: 0px;
}


.nav-item button{
background-color: transparent;
padding: 0px;
border: none;
outline: none;
}

.nav-options .nav-item:nth-child(3),
.nav-options .nav-item:nth-child(3) button{
color: blueviolet;
}

.nav-item label{
font-size: 11px;
}

.spn{
  height: auto;
  position: absolute;
  flex-direction: column;
  display: flex;
  z-index: 1000;
  margin: auto;
  background-color: white;
  padding: 10px 25px;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.spinner{
  /* position: absolute; */
  justify-self: center;
  align-self: center;
  margin: auto;
  height: 50px;
  width: 50px;
  z-index: 1000;

}

.spn button{
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  font-weight: 400;
  z-index: 1000;
  font-size: 12px;

}