<div class="main-holder">
    <div class="top-bar">


  <button class="back-but" [disabled]="blDis" onclick="window.history.go(-1)">
    <img src="../../../../assets/images/back-svgrepo-com.svg" alt=""   class="left" srcset="" height="30px" width="30px">
</button> 


  <!-- <img onclick="window.history.go(-1)" src="../../../../assets/images/back-svgrepo-com.svg" alt="" style="width: 30px; height: 30px;"> -->
  <div class="text">
      <b>CONFIRM</b>
  </div>

  <button [disabled]="blDis">
      <span></span>
      <span></span>
      <span></span>
  </button>

</div>
<div class="container">

  <div class="illustration">
    <img  src="../../../../assets/images/Project_146-01.jpg"/>
  </div>
  
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4"  >
            <h4 class="d-flex justify-content-between align-items-center text-center mb-3">
                <label class="top-header">Your Order Summary</label>
                
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex">
                    <div>
                        <!-- <h6 class="my-0"> {{item.itemname}}</h6>
                        <small class="text-muted">{{item.quantity}}</small> -->
                    </div>
                    
                </li>
                    <li class="list-group-item d-flex justify-content-between">
                    <span>Items</span>
                    <label>{{cartTotal}}</label>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                    <span>SubTotal</span>
                    <label>{{subtotal | currency: 'R'}}</label>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                    <span>Vat (15%)</span>
                    <label>{{VatPrice  | currency: 'R'}}</label>
                    </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Amount</span>
                    <label>{{total | currency: 'R'}}</label>
                </li>

            </ul>

        </div>
    </div>
   
      <div class="dropdown">
        <button [disabled]="blDis" (click)="mProcess()">Place Order</button>

    </div>
</div>
<div  class="bottom-nav">
  
      
      <div class="nav-options" >
  
          <div class="nav-item">
              <button [disabled]="blDis" routerLink="/home"><mat-icon>home</mat-icon></button>
          </div>
  
          <div class="nav-item">
              <button [disabled]="blDis" routerLink="/track-order"><mat-icon>assignment</mat-icon></button>
              
          </div>
  
          <div class="nav-item">
              <button [disabled]="blDis"><mat-icon>shopping_cart</mat-icon></button>
              <label></label>
          </div>
          <div class="nav-item">
              <button [disabled]="blDis" routerLink="/consumer-profile"><mat-icon>account_circle</mat-icon></button>
  
          </div>
          <!-- <div class="nav-item">
              <button class="mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                  <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg></button>
  
          </div> -->
  
          <div class="nav-item">
              <button [disabled]="blDis" routerLink="/landing-page"><mat-icon>logout</mat-icon></button>
  
          </div>
  
      </div>
  
  </div>

  
  <div class="spn" *ngIf="spnValue != 0">
    <mat-spinner style="width: 50px; height: 50px;" [mode]="mode" [value]="spnValue" class="spinner"></mat-spinner>
    <button [disabled]="blCan" (click)="mCancel()" value="cancel">{{btnTex}}</button>
  </div>

</div>


  

  