<h1 class="text-center">CHECKOUT</h1>
<div class="container align-items-center">

  
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4"  >
            <h4 class="d-flex justify-content-between align-items-center text-center mb-3">
                <label class="top-header">Your Order Summary</label>
                
            </h4>
            <ul class="list-group mb-3 sticky-top">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of items">
                    <div>
                        <h6 class="my-0"> {{item.itemname}}</h6>
                        <small class="text-muted">{{item.quantity}}</small>
                    </div>
                    
                </li>
<li class="list-group-item d-flex justify-content-between">
<span>Item</span>
<input type="number" name="">
</li>

<li class="list-group-item d-flex justify-content-between">
  <span>Vat</span>
  <input type="number" name="" id="">
</li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Amount</span>
                    <input type="number" value="{{totalAmount | currency: 'R'}}" />
                </li>

            </ul>

        </div>
    </div>





   
    <div class="d-flex justify-content-center" >
      <div class="dropdown">
        <button class="col-10 btn btn-outline-primary pe-4 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">COMFIRM ORDER</button>
        <ul class="dropdown-menu dropdown-menu-end ">
          <li><a class="dropdown-item" (click)="payWithAyoba()">Pay on delivery</a></li>
          <li><a class="dropdown-item" routerLink="/closing-page">Pay on pick up</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="col-10 btn btn-outline-warning ms-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Cancel Order</button>
        <ul class="dropdown-menu dropdown-menu-end ">
          <li><a class="dropdown-item" (click)="clearCart()">Yes</a></li>
          <li><a class="dropdown-item">No</a></li>
        </ul>
      </div>

    </div>
</div>
<div class="bottom-nav">
  
      
      <div class="nav-options" >
  
          <div class="nav-item">
              <button routerLink="/home"><mat-icon>home</mat-icon></button>
          </div>
  
          <div class="nav-item">
              <button routerLink="/track-order"><mat-icon>assignment</mat-icon></button>
              
          </div>
  
          <div class="nav-item">
              <button><mat-icon>shopping_cart</mat-icon></button>
              <label></label>
          </div>
          <div class="nav-item">
              <button routerLink="/consumer-profile"><mat-icon>account_circle</mat-icon></button>
  
          </div>
          <!-- <div class="nav-item">
              <button class="mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                  <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg></button>
  
          </div> -->
  
          <div class="nav-item">
              <button routerLink="/landing-page"><mat-icon>logout</mat-icon></button>
  
          </div>
  
      </div>
  
  </div>
  
  
  