<!-- <h2>About Us</h2> -->

<!-- <img src="https://media.istockphoto.com/id/1460452681/photo/happy-african-lady-pointing-to-her-phone-in-a-market.jpg?s=612x612&w=is&k=20&c=tRNzoO3XWS5O035-x7dfyDMRqfmrwBW1FkxPGlte2PQ=" alt="Makasana"> --> -->
<!-- <ul>
  <li>Dream Shop is a shop that is based at in Khayelitsha ,that is owned by the young black women</li>
  <li>Its a shop that sells clothing and also home wear, it sells all sort of clothing</li>

</ul> -->
<h2>Our Address</h2>
<!-- <h3>BY PHONE</h3> -->
<ul>
  <br>

  Philippi Village, UCT GSB Solution Space<br>
  3rd Floor, 1 Cwangco Cres, Philippi, Cape Town, 7781.<br>
  <!-- contact no:021 650 7571 -->
  </ul>
