<div class="holder">
  <br/>
  
  <h1><b>Customer Order History</b></h1>
  <hr/>
  <!-- here -->
  <br/>
  <h2><b>Ongoing Orders</b></h2>
    <div class="card containe p-2 mt-4" routerLink="/process">
        <div class="containe row">
            <div class="col-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
            </div>
            <div class="col-6">
                <p class="font2 mb-1"><b>Toolz</b></p>
                <p class="font-w mb-1"><b><i>#555676</i></b></p>
                <p class="font-w mb-1">078 768 6655</p>
                <p class="font-w mb-1">R275</p>
                <p class="font-w mb-1">Cash</p>
                <br/>
                <p class="font-w mb-1">16-11-2023</p>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <h2><b>Completed Orders</b></h2>
    <!-- here -->
    <div class="card containe p-2 mt-4">
      <div class="containe row">
          <div class="col-6">
              <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
          </div>
          <div class="col-6">
              <p class="font2 mb-1"><b>Mr AP</b></p>
              <p class="font-w mb-1"><b><i>#565440</i></b></p>
              <p class="font-w mb-1">071 055 4234</p>
              <p class="font-w mb-1">R150</p>
              <p class="font-w mb-1">Cash on Collection</p>
              <br/>
              <p class="font-w mb-1">16-11-2023</p>
          </div>
      </div>
  </div>
    
    <div class="card containe p-2 mt-4">
        <p class="font2 mb-1"><b>Get Order Upates</b></p>
        <p class="font-w mb-1">Track updates with Makasana Wallet</p>
    </div>






<!-- Nav-bar -->
  <div class="bottom-nav">

      <div class="nav-options" >

          <div class="nav-item">
              <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
          </div>

          <div class="nav-item">
              <button><mat-icon>assignment</mat-icon></button>
              <label>Orders</label>
          </div>

          <div class="nav-item">
              <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
              
          </div>

          <!-- <div class="nav-item">
              <button><mat-icon>launch</mat-icon></button>
              
          </div> -->

          <div class="nav-item">
              <button routerLink="/buss-profile"><mat-icon>account_circle</mat-icon></button>
              
          </div>

          <div class="nav-item">
            <button routerLink="/makasana"><mat-icon>logout</mat-icon></button>
            
        </div>

      </div>
          
  </div>

</div>    


