<div class="holder">

  <div class="holder2">
    <div class="header">
      <h1 >Login & start shopping</h1>
    </div>

    <div class="login-div">
      <div class="form-group" id="email">
        <label class="emailInput" for="email">Email :</label>
        <input type="email" name="company_email" class="form-control" required placeholder="Email" [(ngModel)]="form.email"  id="emailInput">
      </div>
      
      <div class="form-group" id="password">
        <label class="passwordInput" for="password">Password :</label> 
        <input type="password" name="password" class="form-control" [(ngModel)]="form.password" required placeholder="Password" id="passwordInput">
      </div>

      <button class="submit" (click)="signIn()" type="button">Login</button>

      <div class="btt">
        <h5>Don't have an account? <b><a routerLink="/user-signup" id="loginName"> Register </a></b></h5>
    <h5> <b><a routerLink="/company-login" id="loginName">Business?</a></b> sign in</h5>
      </div>
  
    </div>
  </div>

  <button class="spn" *ngIf="spnValue != 0">
  <mat-spinner style="width: 50px; height: 50px;" mode="indeterminate" class="spinner"></mat-spinner>
</button>
</div>






