<div class="holder">

  <div class="holder2">
    <div class="header">
      <h1 >Login & start shopping</h1>
    </div>

    <div class="login-div">
      <div class="form-group" id="email">
        <label class="emailInput" for="email">Email :</label>
        <input type="email" name="company_email" class="form-control" required placeholder="Email" [(ngModel)]="form.email"  id="emailInput">
      </div>
      
      <div class="form-group" id="password">
        <label class="passwordInput" for="password">Password :</label> 
        <input type="password" name="password" class="form-control" [(ngModel)]="form.password" required placeholder="Password" id="passwordInput">
      </div>

      <button class="submit" (click)="signIn()" type="button">Login</button>

      <div>
        <h5>Don't have an account? <a routerLink="/user-signup" id="loginName"> Register </a></h5>
    <h5><a routerLink="/company-login" id="loginName">Business </a> sign in</h5>
      </div>
  
    </div>
  </div>

<div class="divvv"><img src="https://i.postimg.cc/Jn8SxX40/vecteezy-login-concept-with-security-username-and-password-people-removebg-preview.png"/>
  </div>
  <div class="container"> 
    
</div>
  
  
</div>




