<div class="container">

<h2 class="join">Join With Us</h2>
</div>

<h1 class="create">Create your account</h1>


<form name="form" >
  
    <div class="form-group" id="fullname">
      <label class="companynameInput" for="name">Company Name :</label>
      <input type="text" name="companyname" class="form-control" placeholder=" Company Name" id="companynameInput">
    </div>


    <div class="form-group" id="email">
      <label class="emailInput" for="email">Email :</label>
      <input type="text" name=" company_email" class="form-control" placeholder=" Company Email" id="emailInput">
    </div>


    <div class="form-group" id="Phone"> 
      <label class="contactpersonInput" for="name">Phone :</label>
       <input type="text" name="phone" class="form-control" placeholder=" Phone" id="contactpersonInput" >
      </div>


    <div class="form-group" id="industry">
      <label class="industryInput" for="name">Industry :</label>
      <input type="text" name=" industry" class="form-control" placeholder=" Industry" id="industryInput">
    </div>

    <div class="form-group" id="Address">
      <label class="addressInput" for="name">Address :</label>
      <input type="text" name=" location" class="form-control" placeholder=" Address" id="addressInput">
    </div>


 
    <div class="form-group" id="password">
       <label class="passwordInput" for="password">Password :</label> 
      <input type="password" name="password" class="form-control" placeholder=" Password" id="passwordInput">
    </div>


    <button class="submit" type="submit">Create</button>

    <h5>Already have an account? <a routerLink="/company-login" id="loginName"> Login </a></h5>




  </form>