<div class="holder">
    <section class="home">
    <app-landing-nav-bar></app-landing-nav-bar>
    <div class="text-conta">
        <div class="intros">
            <h1 class="text-white">Makasana</h1>
            <p class="slogan">The Online Store Near you!</p>
        </div>

        <div class="home" >
            <img src="https://i.postimg.cc/h4z122V3/Project-160-06-removebg-preview.png" />
        </div>
    </div>
 </section>

 <div class="mes">
        <p class="slogan3">
            Welcome to Makasana – where local businesses thrive in the digital realm! 
            We understand the pulse of your community and recognize the importance of 
            establishing a robust digital footprint. Our platform is designed to catapult 
            your business into the online sphere, providing you with a powerful presence 
            that extends far beyond your storefront. </p>
    </div>


 <section class="sec-2"> 

   
         <hr>
         <div class="div-log">
            <div>
                <h1 class="text-white2">Customer</h1>
                <button class="btnnt" routerLink="/user-login">Login</button>
            </div>

            <div>
                <h1 class="text-white2">Business</h1>
                <button class="btnnt" routerLink="/company-login" >Login</button>
            </div>

         </div>

         <hr>

    <!-- <p class="slogan3">
        We provide customers with a seamless and enjoyable online
        shopping experience through our ecommerce app.
         Start buying <a routerLink="/user-signup">Sign up</a></p> -->

         <!-- <button routerLink="/user-login">Explore more</button> -->
 </section>


 <section class="sec-2">
    <!-- <h1 class="text-white2">L O C A L</h1> -->
    <h1 class="text-white2">Business</h1>

    <p class="slogan3">We provide your business with digital solutions to help you grow & reach a wider market.
        <a routerLink="/company-signup">Sign up</a></p>

         <hr>

         <h1 class="text-white2">Customer</h1>
    <p class="slogan3">
        We provide customers with a seamless and enjoyable online
        shopping experience through our ecommerce app.
         Start buying <a routerLink="/user-signup">Sign up</a></p> 
 </section>
<!--
  <section class="sec-3">
    <div *ngIf="products.length" class="vholder"> -->

        <!-- <div class="item-holder">
            <label class="lblHeaders">SHOP</label>
        </div> -->


        <!-- <div class="item-holder">
            <div class="products-div-ii">

                <div *ngFor="let product of products" class="menu-item2" routerLink="/product-details/{{product.id}}">

                    <img class="main-logo2" src="{{product.image}}">

                    <div class="prod-text">
                        <label>{{product.title}}</label>
                         <label>{{product.rating.rate}}</label> -->
                        <!-- <label class="price">R{{product.price}}</label> -->
                    <!-- </div> -->

                </div>
            <!-- </div> -->
        <!-- </div> -->


    <!-- </div> -->

 <!-- </section> -->

<!-- </div> -->



