.img-url{
    position: relative;
    /* background-color: black; */
    /* background: url('https://i.postimg.cc/sxQJ212t/landing.jpg') no-repeat; */
    background-size: 100vw;
    float: left;
    height: 450px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%); /* Set the clip-path polygon */

    /* clip-path: polygon(0 0, 100% 0, 0 90%, 20 120% );  */

}
.word-warp{
    width: 300px;
}

.about{
    left: 4%;
}
