.holder{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    /* background-color: blueviolet; */
}

.home{
 
    background-color: blueviolet;
    height: auto;
    width: 100%;
    border-radius: 0px 0px 0px 35px;
}

.text-conta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    height: auto;
}

.intros{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1;
    height: 100%;
    gap: 25px;
    padding: 10px;
}

.text-white{
    font-size: 70px;
    font-weight: bold;
    color: white;
     margin: 0;
     /* margin-left: 20%; */
     /* margin-top: 5%;  */
                                                                                                                             
}

.text-white2{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
    margin-left: 3%;
    position: relative;
    /* color: white; */
}

.business-button{
    margin-left: -50%;
    position: relative;
    height: 30px;
    width: 90px;
    border-radius: 12px;
}

.text-white3{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    /* color: white; */
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
    margin-left: 60%;
    margin-top: -36%;
    position: relative;
}

.user-button{
    margin-left: 50%;
    position: relative;
    height: 30px;
    width: 90px;
    /* margin-bottom: 50%; */
    border-radius: 12px;
}

.div-d{
    display: flex;
    justify-content: center;
    height: auto;

}

.home img{
width: 100%;
height: 100%;
}

.slogan{
    font-style: italic;
    font-size: 18px;
    color: white;
    margin: 0px;
    /* margin-left: 15%; */

}

.slogan2{
    padding-top: 25px;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    color: blueviolet;
    margin: 0px;
    line-height: 0px;
    text-align: center;
    height: fit-content;
}

.slogan3{
    padding-top: 25px;
    font-style: normal;
    padding: 10px 10px 0px 10px;
    font-size: 17px;
    font-weight: 500;
    color: blueviolet;
    margin: 0px;
    text-align: left;
    line-height: 25px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.slogan4{
    padding-top: 22px;
    font-style: normal;
    font-size: 17px;
    color: blueviolet;
    margin: 0px;
    text-align: center;
    line-height: 25px;
}

em{
    font-weight: bold;
    font-style: italic;
}

.word-warp{
    width: 300px;
}

.about{
    left: 4%;
}

@keyframes showRight{
    100%
    {
        width: 0;
    }

}

.sec-2{
    padding: 0px 10px 10px 10px;
}

.tit{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    margin: 0px;
}

.mes{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.afr{
    height: 250px;
    width: auto;
    flex-basis: 50%;
}

.sec-3{
    padding: 20px;

}

.vholder{
    background-color: white;
    display: flex; 
    gap: 10px;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
}

.holder1 label{
    color: rgb(160, 160, 160);
}

.holder1 img{
    width: 100px;
    height: 100px;
}

.products-div{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
}

 .labels{
    flex-grow:1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.labels label{
    text-align: center;
}

.item-holder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;

}

.lblHeaders{
    font-size: 18px;
    font-weight: 600;
}

.products-div .labels label:nth-child(1){
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.products-div-ii{
    background-color: white;
    border-radius: 30px 30px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px; 
}

.main-logo2{
    display: block;
    width: auto;
    height: 100px;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.menu-item2{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

/* .menu-item2 label{ 
    

} */

.prod-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.div-log{
    display: flex;
}
.div-log div{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.div-log h1{
    text-align: center;
    font-size: medium;
}

.btnnt{
    margin: 0;
}



.prod-text label:nth-child(1){
    font-size: 12px;
    max-height: 30px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    text-wrap:wrap;
    overflow: hidden;
    line-height: normal;
    overflow:hidden;
}

.prod-text label:nth-child(2){
    font-size: 15px;
    font-weight: bold;
}

.sec-2 h1:nth-child(5){
    margin-top: 10px;
}

button{
    padding: 5px;
    background-color: blueviolet;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: none;
    align-self: center;
    margin-top: 10px;
    bottom: 0;
    justify-content: center;
    align-items: center;

    margin: 25px 0px;


}

section{
    display: flex;
    flex-direction: column;
}


/* p{
    color: white;
    font-size: medium;
} */



@media only screen and (max-width:700px){
    .holder{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        height: 100%;
        /* background-color: blueviolet; */
    }

    .mes{
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
    
    .home{
     
        background-color: blueviolet;
        height: auto;
        width: 100%;
        border-radius: 0px 0px 0px 35px;
    }
    
    .text-conta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
    }
    
    .intros{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 1;
        height: 100%;
        gap: 10px;
    }
    
    .text-white{
        font-size: 40px;
        font-weight: bold;
        color: white;
         margin: 0;                                                                                                             
    }
    
    .text-white2{
        font-size: 20px;
        font-weight: bold;
        color: blueviolet;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        /* margin: 0; */
        margin-left: 3%;
        position: relative;
        /* color: white; */
    }
    
    .business-button{
        margin-left: -50%;
        position: relative;
        height: 30px;
        width: 90px;
        border-radius: 12px;
    }
    
    .text-white3{
        font-size: 20px;
        font-weight: bold;
        color: blueviolet;
        /* color: white; */
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        /* margin: 0; */
        margin-left: 60%;
        margin-top: -36%;
        position: relative;
    }
    
    .user-button{
        margin-left: 50%;
        position: relative;
        height: 30px;
        width: 90px;
        /* margin-bottom: 50%; */
        border-radius: 12px;
    }
    
    
    .div-d{
        display: flex;
        justify-content: center;
        display: flex;
    
    }
    
    
    
    
    img{
    width: 100%;
    height: 100%;
    }
    
    .slogan{
        font-style: italic;
        font-size: 18px;
        color: white;
        margin: 0px;
        /* margin-left: 15%; */
    
    }
    
    .slogan2{
        padding-top: 25px;
        font-style: normal;
        font-size: 18px;
        font-weight: 600;
        color: blueviolet;
        margin: 0px;
        line-height: 30px;
    }
    
    .slogan3{
        padding-top: 25px;
        font-style: normal;
        padding: 10px 10px 0px 10px;
        font-size: 17px;
        font-weight: 500;
        color: blueviolet;
        margin: 0px;
        text-align: left;
        line-height: 25px;
        text-decoration: none;
    }
    
    a{
        text-decoration: none;
    }
    
    .slogan4{
        padding-top: 22px;
        font-style: normal;
        font-size: 17px;
        color: blueviolet;
        margin: 0px;
        text-align: center;
        line-height: 25px;
    }
    
    em{
        font-weight: bold;
        font-style: italic;
    }
    
    .word-warp{
        width: 300px;
    }
    
    .about{
        left: 4%;
    }
    
    @keyframes showRight{
        100%
        {
            width: 0;
        }
    
    }
    
    .sec-2{
        padding: 0px 10px 10px 10px;
    }
    
    .tit{
        color: blueviolet;
        font-size: 20px;
        font-weight: bold;
        z-index: 1;
        margin: 0px;
    }
    
    .afr{
        height: 50%;
    width: auto;
    }
    
    .sec-3{
        padding: 20px;
    
    }
    
    .vholder{
        background-color: white;
        display: flex; 
        gap: 10px;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    .holder1 label{
        color: rgb(160, 160, 160);
    }
    
    .holder1 img{
        width: 100px;
        height: 100px;
    }
    
    .products-div{
        padding: 5px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
    }
    
     .labels{
        flex-grow:1;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    
    .labels label{
        text-align: center;
    }
    
    .item-holder{
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: transparent;
    
    }
    
    .lblHeaders{
        font-size: 18px;
        font-weight: 600;
    }
    
    .products-div .labels label:nth-child(1){
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    
    .products-div-ii{
        background-color: white;
        border-radius: 30px 30px 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px; 
    }
    
    .main-logo2{
        display: block;
        width: auto;
        height: 100px;
        max-height: 100%;
        max-width: 100%;
        align-self: center;
    }
    
    .menu-item2{
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        min-width: 120px;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    }
    
    /* .menu-item2 label{ 
        
    
    } */
    
    .prod-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    a{
        cursor: pointer;
        text-decoration: underline;
        color: black;
    }
    
    .div-log{
        display: flex;
    }
    .div-log div{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .div-log h1{
        text-align: center;
        font-size: medium;
    }
    
    .btnnt{
        margin: 0;
    }
    
    
    
    .prod-text label:nth-child(1){
        font-size: 12px;
        max-height: 30px;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        text-wrap:wrap;
        overflow: hidden;
        line-height: normal;
        overflow:hidden;
    
        /* font-size: 12px;
        height: 30px;
        background-color: blue;
        text-overflow: ellipsis;
        white-space: wrap;
        width: 110px;
        line-height: normal;
        overflow: hidden; */
    }
    
    
    
    .prod-text label:nth-child(2){
        font-size: 15px;
        font-weight: bold;
    }
    
    .sec-2 h1:nth-child(5){
        margin-top: 10px;
    }
    
    button{
        padding: 5px;
        background-color: blueviolet;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        border: none;
        align-self: center;
        margin-top: 10px;
        bottom: 0;
        justify-content: center;
        align-items: center;
    
        margin: 25px 0px;
    }
    
    section{
        display: flex;
        flex-direction: column;
    } 
}