<div class="dash-holder">

    <!-- https://i.postimg.cc/dVGXVhgP/2-people-shaking-hands-for-business-purposes-generated-removebg-preview.png -->

    <div class="Top-section">

        <div class="top-bar">
            <button>
                <span></span>
                <span></span>
                <span></span>
            </button>

            <button routerLink="/your-cart"><mat-icon>shopping_cart</mat-icon></button>
        </div>

        <div *ngIf="products.length" class="top-det">
            
            <div class="stock-details">
                <mat-icon>search</mat-icon>
                <input type="search" placeholder="Search..">
            </div>

            <div class="fil-sor">
                <div class="filter-item">
                    <mat-icon>filter_list</mat-icon>
                    <select>
                        <option>Filter</option>
                        <option>Sale</option>
                    </select>
                </div>

                <div class="filter-item">
                    <mat-icon>sort</mat-icon>
                    <select>
                        <option>Sort</option>
                        <option>A-Z</option>
                        <option>Latest</option>
                        <option>Oldest</option>
                        <option>Price(High)</option>
                        <option>Price(low)</option>
                    </select>
                    
                </div>
            </div>
        </div>
        <mat-progress-bar *ngIf="blLoadComplete" mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="products.length" class="holder">

        <div class="item-holder">
            <label class="lblHeaders">Clothing</label>
        </div>
        

        <div class="item-holder">
            <div class="products-div-ii">
                
                <div *ngFor="let product of products" class="menu-item2" routerLink="/product-details/{{product.id}}">

                    <img class="main-logo2" src="{{product.image}}">
            
                    <div class="prod-text">
                        <label>{{product.title}}</label>
                        <!-- <label>{{product.rating.rate}}</label> -->
                        <label class="price">R{{product.price}}</label>
                    </div>
            
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!products.length" class="holder1">
        
            <img src="https://i.postimg.cc/t4jvtHq4/Package-box-brown-removebg-preview.png">
    
            <label>You don't have any product yet</label>

    </div>

    <div class="bottom-nav">

        <div class="nav-options" >
    
            <div class="nav-item">
                <button routerLink="/home"><mat-icon>home</mat-icon></button>
            </div>
    
            <div class="nav-item">
                <button routerLink="/track-order"><mat-icon>assignment</mat-icon></button>
                
            </div>
    
            <div class="nav-item">
                <button  routerLink="/your-cart"><mat-icon>shopping_cart</mat-icon></button>
    
            </div>
            <div class="nav-item">
                <button><mat-icon>account_circle</mat-icon></button>
                
            </div>
            <div class="nav-item">
                <button class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                  </svg>
                </button>
            </div>
    
        </div>
            
    </div>
</div>