<div class="bottom-nav">

    <div class="nav-options" >

        <div routerLinkActive="selected" class="nav-item">
            <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
            <label>Home</label>
        </div>

        <div routerLinkActive="selected" routerLink="/orders" class="nav-item">
            <button><mat-icon>assignment</mat-icon></button>
            <label>Orders</label>
        </div>

        <div  routerLinkActive="selected" class="nav-item">
            <button  routerLinkActive="selected" routerLink="/my-products"><mat-icon>store</mat-icon></button>
            <label>Products</label>

        </div>

        <!-- <div class="nav-item">
            <button><mat-icon>launch</mat-icon></button>

        </div> -->

        <!-- <div routerLinkActive="selected" class="nav-item">
            <button routerLink="/buss-profile"><mat-icon>account_circle</mat-icon></button>
            <label>Profile</label>         

        </div> -->

        <div  routerLinkActive="selected" class="nav-item">
          <button (click)="mLogout()"><mat-icon>logout</mat-icon></button>
          <label>Logout</label>

      </div>

    </div>

</div>