
<!-- <div class="container">
<header class="site-header text-center" id="header">
    <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
</header> -->

<!-- <div class="main-content text-center">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="main-content__body" data-lead-id="main-content-body">for shopping with us your oder have been processed </p>
</div> -->

<!-- <footer class="site-footer text-center" id="footer">
    <h3>Order Number</h3>
    <p class="site-footer__fineprint" id="fineprint"> #2b3n4momc</p>
</footer> -->

<!-- <div class="container d-flex mt-2 w-100 justify-content-center">
    <button class="button text-black " routerLink="/home">
        Continuous Shopping
    </button>

</div> -->

<!-- </div> -->



<!-- <!DOCTYPE html>
<html lang="en"> -->


         <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card  bg-white shadow p-5 ">
                    <div class="mb-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="80" height="80"
                            fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                     </div>


                    <div class="text-center">
                        <h1>Thank You !</h1>
                        <p>for shopping with us your order has been processed </p>

                        <footer class="site-footer text-center" id="footer">
                          <h3>Order Number</h3>
                          <p class="site-footer__fineprint" id="fineprint"> #{{orderIdd}}</p>
                      </footer>
                        <button class="btn btn-outline-success  text-white"  routerLink="/home">Continue Shopping</button>
                    </div>
                </div>
            </div>
        </div>



