p{
  margin: 0;
}

.holder{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  padding-bottom: 60px;
}

.item{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  height: auto;  
}

.item .tit{
  color: green;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.item-chart{
display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 10px;
  gap: 2px;
  height: auto;
  width: 100%;    
}

.item-chart label{
text-align: center;
}

.thr{
margin-top: 5px;
display: flex;
gap: 10px;
}

.item-chart .tit{
color: green;
font-size: 28px;
text-align: center;
margin: 0;
display: flex;
padding: 10px 0px;
height: 100%;
justify-content: center;
align-items: center;
}

.lblStatus {
  display: flex;
  gap: 5px;
}

.lblStatus .status{
  font-weight: bold;
}

.graph{
  padding: 10px;
  height: auto;
}

img{
  width: 100px;
  flex-basis: 1;
  height: 100px;
}

.tite{
  color: black;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.daa{
display: flex;
gap: 10px;
}

.daa img{
border-radius: 10px;

}

.daa .tite{
font-size: 18px;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
width: 100%;
}


.bottom-nav{
background-color: brown;
background-color: white;
padding: 8px;
position: fixed;
bottom: 0;
display: flex;

border: none;
outline: none;
border-top: 1px solid rgb(204, 204, 204);
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
}

.nav-options{
display: grid;
flex-direction: row;
grid-template-columns: repeat(5, 1fr);
background-color: transparent;
width: 100%;
border: none;
gap: 0px;
}

.nav-item{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;
}

.nav-item button{
background-color: transparent;
padding: 0px;
border: none;
outline: none;
}

.thisMonth{
display: flex;
}

/* .nav-options .nav-item:nth-child(3),
.nav-options .nav-item:nth-child(3) mat-icon{
color: blueviolet;
} */
.nav-item label{
font-size: 11px;
}

@media only screen and (max-width:700px){

    p{
        margin: 0;
    }

    .holder{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        padding-bottom: 60px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
        padding: 10px;
        border-radius: 10px;
        gap: 20px;
        height: auto;  
}
    
    .item .tit{
        color: green;
        font-size: 40px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .item-chart{
      display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
        padding: 5px;
        border-radius: 10px;
        gap: 2px;
        height: auto;
        width: 100%;    
    }

    .item-chart label{
      text-align: center;
    }

    .thr{
      margin-top: 5px;
      display: flex;
      gap: 10px;
    }

    .item-chart .tit{
      color: green;
      font-size: 28px;
      text-align: center;
      margin: 0;
      display: flex;
      padding: 10px 0px;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .lblStatus {
        display: flex;
        gap: 5px;
    }

    .lblStatus .status{
        font-weight: bold;
    }

    .graph{
        padding: 10px;
        height: auto;
    }

    img{
        width: 100px;
        flex-basis: 1;
        height: 100px;
    }

    .tite{
        color: black;
        font-size: 12px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .daa{
      display: flex;
      gap: 10px;
    }

    .daa img{
      border-radius: 10px;

    }

    .daa .tite{
      font-size: 18px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
    }

    
  .bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }

  .thisMonth{
    display: flex;
  }

  /* .nav-options .nav-item:nth-child(3),
  .nav-options .nav-item:nth-child(3) mat-icon{
    color: blueviolet;
  } */
  .nav-item label{
    font-size: 11px;
  }
}

