<div class="dash-holder">

    <!-- https://i.postimg.cc/dVGXVhgP/2-people-shaking-hands-for-business-purposes-generated-removebg-preview.png -->
    <nav>
        <div class="nav-holder">
            <div class="c-details">
                <label>{{CompanyDetails.username | titlecase}}</label>
                <!-- <img class="main-logo" src="https://i.postimg.cc/yNKCPjyr/vecteezy-team-view-investment-business-company-analysis-screen-5638477-removebg-preview.png"> -->
            </div>
    
            <div class="hamburger-icon">
                <div class="noti" routerLink="/add-product">
                    <mat-icon>add</mat-icon>
                </div>
                
                <img class="prof" src={{image}}/>
                
            </div>

        </div>

        <div *ngIf="products.length" class="stock-details">
            <mat-icon>search</mat-icon>
           <input type="search" placeholder="Search..">
        </div>
        
        <mat-progress-bar *ngIf="blLoadComplete" mode="indeterminate"></mat-progress-bar>
        
    </nav>

    <div *ngIf="products.length" class="holder">

        <div class="item-holder">
            <label class="lblHeaders">My Products</label>
        </div>
        

        <div  class="item-holder">
            <div class="products-div-ii">
                <div *ngFor="let product of products" class="menu-item2" routerLink="/view-product/{{product._id}}">
                    <img class="main-logo2" src="{{product.image}}">
            
                    <div class="prod-text">
                        <label>{{product.title}}</label>
                        <!-- <label>{{product.rating.rate}}</label> -->
                        <div class="prices-product">
                            <label *ngIf="!product.promo.onPromo" class="price">R{{product.price}}</label> 
                            <label *ngIf="product.promo.onPromo" class="price-s">R{{product.price}}</label> 
                            <label *ngIf="product.promo.onPromo" class="promoLabel">R{{product.promo.newPrice}}<div class="on-pro-indi"></div></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="!products.length" class="holder1">
        
            <img src="https://i.postimg.cc/t4jvtHq4/Package-box-brown-removebg-preview.png">
    
            <label>You don't have any product yet</label>

    </div>

    <app-bottom-nav></app-bottom-nav>

</div>