mat-progress-bar{
    background-color: white;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: rgb(76, 221, 107);
    --mdc-linear-progress-track-color: rgb(255 255 255 / 25%);
}

.dash-holder{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    max-height: 100%;
}

/* ----------NAV---------- */

nav
{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-height: 160px;
    min-height: auto;
    gap: 10px;
    margin: 10px 12px 5px 12px;
}

.nav-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c-details{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    height: 100%;
    gap: 5px;
    color: white;
    width: 100%;
}


.c-details label:nth-child(1){
    font-size: 18px;
    letter-spacing: 1px;
    bottom: 0;
}

.hamburger-icon{
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.noti {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
     /* margin-right: 3%; */
}

.prof {
    width: 35px;
    height: 35px;
    border-radius: 50%;
     /* margin-right: 3%; */
}

.stock-details{
    margin: 10px 0px 0px 0px;
    padding: 5px;
    background-color: white;
    height: auto;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

/* .stock-details mat-icon{
} */

.stock-details input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.stock-details input:focus{
    width: 100%;
    border: none;
}

.main-logo{
    width: 130px;
    height: 100px;
}

.holder{
    background-color: white;
    display: flex; 
    gap: 10px;
    flex-direction: column;
    padding-top: 13px;
    
    padding: 5px 12px 10px 12px;
}

.holder1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.holder1 label{
    color: rgb(160, 160, 160);
}

.holder1 img{
    width: 100px;
    height: 100px;
}

 .labels{
    flex-grow:1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.labels label{
    text-align: center;
}

.item-holder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;

}

.lblHeaders{
    font-size: 18px;
    font-weight: 600;
}

.products-div .labels label:nth-child(1){
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.products-div-ii{
    background-color: white;
    border-radius: 30px 30px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px; 
    margin-bottom: 60px;
}

.on-pro-indi{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: green;
    margin-left: 5px;
}

.main-logo2{
    display: block;
    width: auto;
    height: 100px;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
    border-radius: 8px 8px 0px 0px;
}

.menu-item2{
    padding: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 140px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

/* .menu-item2 label{ 
    

} */

.products-div3{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-width: 90%; /*  change to 100% */
    border-radius: 15px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
}

.prices-product{
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: flex-end;
    align-items: center;
}

.price{
    width: 100%;
}

.price-s{
    text-decoration: line-through;

}

.promoLabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 8px;
}

.prod-text label:nth-child(1){
    font-size: 12px;
    max-height: 30px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    text-wrap:wrap;
    overflow: hidden;
    line-height: normal;
    overflow:hidden;

    /* font-size: 12px;
    height: 30px;
    background-color: blue;
    text-overflow: ellipsis;
    white-space: wrap;
    width: 110px;
    line-height: normal;
    overflow: hidden; */
}



.prod-text label:nth-child(2){
    font-size: 15px;
    font-weight: bold;
}


.bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }

  .nav-options .nav-item:nth-child(3),
  .nav-options .nav-item:nth-child(3) mat-icon{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }


@media only screen and (max-width:700px){

    .dash-holder{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 100%;
        max-height: 100%;
    }

    /* ----------NAV---------- */

    nav
    {
        background-color: blueviolet;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        max-height: 160px;
        min-height: auto;
        gap: 10px;
        margin: 10px 12px 5px 12px;
    }

    .nav-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .c-details{
        display: flex;
        flex-direction: column;
        flex-basis: 1;
        height: 100%;
        gap: 5px;
        color: white;
        width: 100%;
    }

    
    .c-details label:nth-child(1){
        font-size: 18px;
        letter-spacing: 1px;
        bottom: 0;
    }
    
    .hamburger-icon{
        flex-basis: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .noti {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
         /* margin-right: 3%; */
    }

    .prof {
        width: 35px;
        height: 35px;
        border-radius: 50%;
         /* margin-right: 3%; */
    }

    .stock-details{
        margin: 10px 0px 0px 0px;
        padding: 5px;
        background-color: white;
        height: auto;
        border-radius: 8px;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }

    /* .stock-details mat-icon{
    } */

    .stock-details input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }

    .stock-details input:focus{
        width: 100%;
        border: none;
    }
    
    .main-logo{
        width: 130px;
        height: 100px;
    }

    .holder{
        background-color: white;
        display: flex; 
        gap: 10px;
        flex-direction: column;
        padding-top: 13px;
        
        padding: 5px 12px 10px 12px;
    }

    .holder1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .holder1 label{
        color: rgb(160, 160, 160);
    }

    .holder1 img{
        width: 100px;
        height: 100px;
    }

     .labels{
        flex-grow:1;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .labels label{
        text-align: center;
    }

    .item-holder{
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: transparent;

    }

    .lblHeaders{
        font-size: 18px;
        font-weight: 600;
    }

    .products-div .labels label:nth-child(1){
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    .products-div-ii{
        background-color: white;
        border-radius: 30px 30px 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px; 
        margin-bottom: 60px;
    }

    .on-pro-indi{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: green;
        margin-left: 5px;
    }

    .main-logo2{
        display: block;
        width: auto;
        height: 100px;
        max-height: 100%;
        max-width: 100%;
        align-self: center;
        border-radius: 8px 8px 0px 0px;
    }
    
    .menu-item2{
        padding: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        min-width: 140px;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    }

    /* .menu-item2 label{ 
        

    } */

    .products-div3{
        padding: 5px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 90%; /*  change to 100% */
        border-radius: 15px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
    }

    .prices-product{
        display: flex;
        flex-direction: row;
        gap:5px;
        justify-content: flex-end;
        align-items: center;
    }

    .price{
        width: 100%;
    }

    .price-s{
        text-decoration: line-through;

    }

    .promoLabel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prod-text{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 8px;
    }

    .prod-text label:nth-child(1){
        font-size: 12px;
        max-height: 30px;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        text-wrap:wrap;
        overflow: hidden;
        line-height: normal;
        overflow:hidden;

        /* font-size: 12px;
        height: 30px;
        background-color: blue;
        text-overflow: ellipsis;
        white-space: wrap;
        width: 110px;
        line-height: normal;
        overflow: hidden; */
    }



    .prod-text label:nth-child(2){
        font-size: 15px;
        font-weight: bold;
    }

    
    .bottom-nav{
        background-color: brown;
        background-color: white;
        padding: 5px;
        position: fixed;
        bottom: 0;
        display: flex;
    
        border: none;
        outline: none;
        border-top: 1px solid rgb(204, 204, 204);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    
      .nav-options{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(5, 1fr);
        background-color: transparent;
        width: 100%;
        border: none;
        gap: 0px;
      }
    
      .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
    
      .nav-item button{
        background-color: transparent;
        padding: 0px;
        border: none;
        outline: none;
      }
    
      .nav-options .nav-item:nth-child(3),
      .nav-options .nav-item:nth-child(3) mat-icon{
        color: blueviolet;
      }
      .nav-item label{
        font-size: 11px;
      }

}

@media only screen and (max-width:300px){
    .products-div-ii{
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px; 
    }

}