.logo{
    width: 100px;
    border-radius: 50px;
    height: 100px;
}

/* .label{
    margin-top: 3%;
    margin-left: 30%;
    position: relative;
    font-size: large;
} */

.category{
    margin-top: 3%;
}

.clothing{
    position: relative;
    margin-top: -9%;
    margin-left: 15%;

}

.mail{
    position: relative;
    margin-left: 3%;
}

.email{
    position: relative;
    margin-top: -7%;
    margin-left: 13%;
}

.time{
    margin-left: 3%;
}




.container{
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border-bottom: white;

}



.container1{
    background-color: blueviolet;
    border-radius: 20px;
    width: 300px;
    height: 180px;
    left: 10%;
    margin-top: 8%;
    color: white;
    position: relative;

}

.location{
    margin-left: 3%;
    position: relative;
    margin-top: 5%;

}

.address{
    margin-left: 15%;
    /* font-size: medium; */
    margin-top: -7% ;
    position: relative;
}

.hours{
    position: relative;
    margin-left: 12%;
    margin-top: -7%;
}

.circle{
    position: relative;
    margin-left: 3%;
}

.information{
    position: relative;
    margin-left: 15%;
    margin-top: -9%;
}

.log{
    margin-bottom: 20%;
    position: relative;
    margin-left: 3%;
}

.bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;
  
    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }
  
  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }
  
  .nav-options .nav-item:nth-child(4),
  .nav-options .nav-item:nth-child(4) mat-icon{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }