<h2 style="font-size: large; margin-left: 30%; margin-top: 2%;">Business Info</h2>

<img class="logo" src="../../../assets/images/shop.jpg" >

<h2 class="label">Rocklands Designer</h2>
<h4 class="mail">rocklandsdesign@gmail.com</h4>

<div class="container">
 <h3 class="clothing" style="margin-left: 4%; margin-top: 4%;">Clothing</h3> 
  <hr>
  <p>We sell items of ready-made clothing</p>
</div>

<div class="container1" >
<img class="location" src="../../../../assets/images/location-svgrepo-com.svg" alt="" style="width: 20px; height: 20px;">
<p class="address">1234 Albertina Road, Cape Town</p>
<hr>
<img src="../../../../assets/images/time-svgrepo-com.svg" alt=""  style="width: 20px; height: 20px;">
<hr>
</div>







