<h2 style="font-size: large; margin-left: 25%; margin-top: 2%;">Business Info</h2>

<!-- <img class="prof" src={{image}}/> -->


<label >Rocklands Designer</label>

<img src="../../../assets/images/shop.jpg" style="width: 90px; height: 90px; border-radius: 50px; margin-top: 4%;" >

<div class="container profile">
    <div class="container-2" id="companyProfile" >
    </div>

    <div class="content" >
      <!-- <p> {{}}  </p>  -->
      <!-- <p> {{}} </p>    -->
      <!-- <a class="btn" routerLink="/job-post">New Job Post</a> -->
      <!-- <p>{{currentUser.id}}</p> -->
    </div>
  </div>





