@media only screen and (max-width:700px){

.holder{
    background-color: white;
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.details-holder{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100%;

}

.image-view{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.details-view{
  width: 100%;
  padding: 10px 12px 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* __________ IMAGE SELECTOR _______ */


.btn-upload{
    
    background-color: rgb(211, 211, 211);
     min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-upload input {
    width: 150px;
    height: 150px;
    max-width: 100%;
    min-height: 150px;
    min-width: 150px;
    position: absolute;
    color: transparent;
    background-color: transparent;
    border: none;
    z-index: 1000;
    cursor: pointer;
    outline: none;
  }

  .btn-upload img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
  }

  .btn-upload input mat-icon {
   z-index: 1000;
   background-color: transparent;
   cursor: pointer;
  }


.btn-upload input::file-selector-button {
    position: absolute;
 
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .input-field{
    display: flex;
    flex-direction: column;
  }

  .input-field input, 
  .input-field textarea, 
  .input-field select{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
  }

  .input-field textarea{
    resize: none
  }

  .btnmeta-data{
    width: fit-content;
    background-color: transparent;
    border: none;
    align-self:flex-end;
    color: blue;

  }

  .btnSave{
    background-color: transparent;
    padding: 0px;
    position: fixed;
    top: 0;
    display: flex;
    align-self: end;
    border: none;
    outline: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .btnSave button{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    width: 100%;
    border-radius: 8px;

  }

  .btnSave button mat-icon{
    color: green;
    font-weight: bold;
  }

  .bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }

  .nav-options .nav-item:nth-child(3),
  .nav-options .nav-item:nth-child(3) mat-icon{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }
  
  .spn{
    height: auto;
    position: absolute;
    flex-direction: column;
    display: flex;
    z-index: 1000;
    margin: auto;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 10px;
    align-self: center;
    border: none;
    justify-self: center;
    height: 100%;
    width: 100%;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
  }
  
  .spinner{
    /* position: absolute; */
    justify-self: center;
    align-self: center;
    margin: auto;
    height: 50px;
    background-color: transparent;
    width: 50px;
    z-index: 1000;
  
  }
  
  .spn button{
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-weight: 400;
    z-index: 1000;
    font-size: 12px;
  
  }
}


.holder{
  background-color: white;
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.details-holder{
width: 100%;
display: flex;
flex-direction: column;
background-color: white;
min-height: 100%;

}

.image-view{
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
align-items: center;

}

.details-view{
width: 100%;
padding: 10px 12px 60px 10px;
display: flex;
flex-direction: column;
gap: 10px;
}

/* __________ IMAGE SELECTOR _______ */


.btn-upload{
  
  background-color: rgb(211, 211, 211);
   min-width: 150px;
  min-height: 150px;
  border-radius: 10px;
  
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-upload input {
  width: 150px;
  height: 150px;
  max-width: 100%;
  min-height: 150px;
  min-width: 150px;
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  z-index: 1000;
  cursor: pointer;
  outline: none;
}

.btn-upload img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: none;
  outline: none;
  position: absolute;
}

.btn-upload input mat-icon {
 z-index: 1000;
 background-color: transparent;
 cursor: pointer;
}


.btn-upload input::file-selector-button {
  position: absolute;

  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-field{
  display: flex;
  flex-direction: column;
}

.input-field input, 
.input-field textarea, 
.input-field select{
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.input-field textarea{
  resize: none
}

.btnmeta-data{
  width: fit-content;
  background-color: transparent;
  border: none;
  align-self:flex-end;
  color: blue;

}

.btnSave{
  background-color: transparent;
  padding: 0px;
  position: fixed;
  top: 0;
  display: flex;
  align-self: end;
  border: none;
  outline: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.btnSave button{
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 18px;
  width: 100%;
  border-radius: 8px;

}

.btnSave button mat-icon{
  color: green;
  font-weight: bold;
}

.bottom-nav{
  background-color: brown;
  background-color: white;
  padding: 8px;
  position: fixed;
  bottom: 0;
  display: flex;

  border: none;
  outline: none;
  border-top: 1px solid rgb(204, 204, 204);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-options{
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
  background-color: transparent;
  width: 100%;
  border: none;
  gap: 0px;
}

.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.nav-item button{
  background-color: transparent;
  padding: 0px;
  border: none;
  outline: none;
}

.nav-options .nav-item:nth-child(3),
.nav-options .nav-item:nth-child(3) mat-icon{
  color: blueviolet;
}
.nav-item label{
  font-size: 11px;
}

.spn{
  height: auto;
  position: absolute;
  flex-direction: column;
  display: flex;
  z-index: 1000;
  margin: auto;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 10px;
  align-self: center;
  border: none;
  justify-self: center;
  height: 100%;
  width: 100%;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
}

.spinner{
  /* position: absolute; */
  justify-self: center;
  align-self: center;
  margin: auto;
  height: 50px;
  background-color: transparent;
  width: 50px;
  z-index: 1000;

}

.spn button{
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  font-weight: 400;
  z-index: 1000;
  font-size: 12px;

}