<div class="holder">
    <div class="btnSave">
        <button><mat-icon>done</mat-icon></button>
    </div>

    <div class="details-holder">
        <div class="image-view">
        
            <div class="btn-upload">
                <mat-icon>camera_enhance</mat-icon>
                <input type="file" accept="image/png, image/jpeg" (change)= "loadImage($event)">
                <img [src]="track.path">
            </div>

        </div>

        <div class="details-view">

            <div class="input-field">
                
                <div class="">
                    <label>Product Title:</label>
                    <label>*</label>
                </div>
                <input type="text" placeholder="Title">
            </div>

            <div class="input-field">
                <label>Product Description:</label>
                <textarea rows="6" autocomplete="on" autocorrect="true" cols="33"  type="text" placeholder="Tell customers more about your product"></textarea>
            </div>

            <div class="input-field">
                <label>Product Category:</label>
                <select type="number" placeholder="Category">
                    <option>Furniture</option>
                    <option>Electronics</option>
                    <option>Beauty, health, personal, and household care</option>
                    <option>Clothing and footwear</option>
                    <option>Toys, hobby, and DIY</option>
                    <option>Food</option>
                    <option>Media (books, disks and
                        concert tickets)
                        </option>
                    <option>Jewellery and clocks</option>
                    <option>Pets</option>
                    <option>Sports</option>
                    <option>Food</option>
                    <option>Food</option>
                </select>
            </div>

            <button class="btnmeta-data">Meta data +</button>

            <div class="input-field">
                <label>Product Condition:</label>
                <select type="number" placeholder="Quantity">
                    <option>New</option>
                    <option>Used</option>
                </select>
            </div>

            <div class="input-field">
                <label>Product Price:</label>
                <input type="text" placeholder="Price">
            </div>

            <div class="input-field">
                <label>Product Quantity:</label>
                <input type="number" placeholder="Quantity">
            </div>
        </div>
    </div>
    

    <div class="bottom-nav">

        <div class="nav-options" >

            <div class="nav-item">
                <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
            </div>

            <div class="nav-item">
                <button routerLink="/orders"><mat-icon>assignment</mat-icon></button>
                
            </div>

            <div class="nav-item">
                <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
                <label>Products</label>
            </div>

            <div class="nav-item">
                <button><mat-icon>launch</mat-icon></button>
                
            </div>

            <div class="nav-item">
                <button  routerLink="/buss-profile"><mat-icon>account_circle</mat-icon></button>
                
            </div>

        </div>
            
    </div>

</div>    


