<img onclick="window.history.go(-1)" src="../../../../assets/images/back-svgrepo-com.svg" alt=""
class="left" srcset="" height="30px" width="30px">


<div class="holder">
    <div class="btnSave"(click)="createProduct()">
        <button><mat-icon>add</mat-icon></button>
        <!-- <button style="background-color: blueviolet; width: 60px; margin-right: 2%; margin-top: 20%;">Add</button> -->
    </div>

    <div class="details-holder">
        <div class="image-view">
        
            <div class="btn-upload">
                <mat-icon>camera_enhance</mat-icon>
                <input type="file" accept="image/png, image/jpeg" (change)= "loadImage($event)">
                <img [src]="imageee">
            </div>

        </div>

        <div class="details-view">

            <div class="input-field">
                
                <div class="">
                    <label>Product Title:</label>
                    <label>*</label>
                </div>
                <input type="text" [(ngModel)]="productDetail.title"  placeholder="Title">
            </div>
            <div class="input-field">
                <label>Product Description:</label>
                <textarea rows="6" autocomplete="on"[(ngModel)]="productDetail.description" autocorrect="true" cols="33"  type="text" placeholder="Tell customers more about your product" re></textarea>
            </div>

            <div class="input-field">
                <label>Product Category:</label>
                <select type="number" [(ngModel)]="productDetail.category" placeholder="Category">
                    <option  value="furniture">Furniture</option>
                    <option value="electronics">Electronics</option>
                    <option  value="beauty_and_health">Beauty, health, personal, and household care</option>
                    <option  value="clothing">Clothing and footwear</option>
                    <option value="toys">Toys, hobby, and DIY</option>
                    <option  value="food" >Food</option>
                    <option  value="media">Media (books, disks and
                        concert tickets)
                        </option>
                    <option value="jewellery">Jewellery and clocks</option>
                    <option value="pets">Pets</option>
                    <option value="sports">Sports</option>
                </select>
            </div>

            <button class="btnmeta-data">Meta data +</button>

            <div class="input-field">
                <label>Product Condition:</label>
                <select type="text" [(ngModel)]="productDetail.condition" placeholder="Condition">
                    <option value="New">New</option>
                    <option value="Used" >Used</option>
                </select>
            </div>

            <div class="input-field">
                <label>Product Price:</label>
                <input type="number" placeholder="Price" [(ngModel)]="productDetail.price">
            </div>

            <div class="input-field">
                <label>Product Quantity:</label>
                <input type="number" placeholder="Quantity" [(ngModel)]="productDetail.quantity">
            </div>
        </div>
    </div>

    <button class="spn" *ngIf="spnValue != 0">
        <mat-spinner style="width: 50px; height: 50px;" mode="indeterminate" class="spinner"></mat-spinner>
      </button>

</div>  

<app-bottom-nav></app-bottom-nav>


<div class="toast-container  position-fixed bottom-0 end-0 p-3" >
    <div #toastElement class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Makasana</strong>
        <button type="button" class="btn-close" (click)="hideToast()" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Item added successfully!. </div>
    </div>
  </div>

