
<div class="bg-top w-100">
    <div class="row">
        <div class="col-3 m-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left text-white" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </div>
        <div class="col-3 mt-3">
            <p class="w-10 text-white"><b>Track Order</b></p>
        </div>
    </div>

</div>
<div class="container  mt-5 ">
    <div class="row" >
        <div class="col-6">       
        </div>
        <div class="col-4">
            <div class="container">
                <div class="d-flex">
                    <div class="point bg-secondary m">
                        s
                    </div>
                        <div class="container">
                            <p class="text-secondary" style="font-size: 13px; margin-top: 2px; width: 200px;">Order Submiited</p>
                            
                        </div>
                </div>
                <div class="d-flex">
                    <div class="point  bg-secondary m">
                        s
                    </div>
                        <div class="container">
                            <p class="text-secondary" style="font-size: 13px; margin-top: 2px; width: 200px;">Order processed</p>
                            
                        </div>
                </div>
                <div class="d-flex">
                    <div class="point  bg-secondary m">
                        s
                    </div>
                        <div class="container">
                            <p class="text-secondary" style="font-size: 13px; margin-top: 2px; width: 200px;">Order Delivered</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card container mt-3  w-100 border-none bg-pu">
        <p style="font-size: 15px;">Estimated Order arrival time</p>
        <p class="mb-0"> <b>11:30 AM - 13:30AM</b></p>
        <hr>
        <div class="container">
            <p><b>Order Details</b></p>
            <div class="row">
                <div class="col-6">
                    <p style="font-size: 15px;">Order Number</p>

                </div>
                <div class="col-6">
                    <p style="font-size: 15px; text-align: end;">Order Number</p>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p style="font-size: 15px;">Store Branch</p>

                </div>
                <div class="col-6">
                    <p style="font-size: 15px; text-align: end;">Order Number</p>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p style="font-size: 15px;">Order Number</p>

                </div>
                <div class="col-6">
                    <p style="font-size: 15px; text-align: end;">Order Number</p>

                </div>
            </div>
        </div>
    </div>
    <div class="card container mt-5 w-100 border-none bg-pu">
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg>
              <div class="con">
                <p style="font-size: 15px;"><b>Payment</b></p>

              </div>
        </div>
        
    </div>
</div>
