
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="nav">
    <h2>Makasana</h2>
</div>


<div class="side">
    <img src="https://cdn-icons-png.flaticon.com/512/471/471662.png">
</div>

<div class="container">


  <div class="card containe p-2 mt-4">
    <div class="containe row">
        <div class="col-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
        </div>
        <div class="col-6">
          <p class="font2 mb-1"><b>Toolz</b></p>
          <p class="font-w mb-1"><b><i>#555676</i></b></p>
          <p class="font-w mb-1">078 768 6655</p>
          <p class="font-w mb-1">R275</p>
          <p class="font-w mb-1">Cash</p>
          <br/>
          <p class="font-w mb-1">16-11-2023</p>
      </div>
        
    </div>
<br/>
        <div class="form-group ">
      
      <select id="progress" required type="text"  placeholder="Order progress"  class="form-control" name="progress" >

        <option value="Art">In Progress</option>
        <option value="Music">Out for delivery</option>
        <option value="Business">Ready for collection</option>
        
        

      </select>
    </div>

</div>
<br/>


    <button type="submit">Change customer order state</button>


    <div class="bottom-nav">

      <div class="nav-options" >

          <div class="nav-item">
              <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
          </div>

          <div class="nav-item">
              <button><mat-icon>assignment</mat-icon></button>
              <label>Orders</label>
          </div>

          <div class="nav-item">
              <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
              
          </div>

          <div class="nav-item">
              <button><mat-icon>launch</mat-icon></button>
              
          </div>

          <div class="nav-item">
              <button><mat-icon>account_circle</mat-icon></button>
              
          </div>

      </div>
          
  </div>


 

              