
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="nav">
    <h2>Makasana</h2>
</div>


<div class="side">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKdeQTRwjdevF4W0leHML8ot1MSz_7whrJFQ&usqp=CAU">
</div>

<div class="container">



  <div class="div-form" >

    <div class="form-group">
      <!-- <label for="OrderNo" class="OrderNo">Order Number:</label> -->
      <input id="OrderNo" type="text" [disabled]="true" required placeholder="Order Number" class="form-control" name="OrderNo">
 
    </div>

    <div class="form-group">
      <!-- <label for="CustomerName" class="CustomerName">Customer Name:</label> -->
      <input id="CustomerName" type="text" [disabled]="true"  required  placeholder="Customer Name" class="form-control" name="CustomerName" >
     
    </div>

    <div class="form-group">
      <!-- <label for="Quantity" class="Quantity">Quantity:</label> -->
      <input id="Quantity" required type="text" [disabled]="true"  placeholder="Quantity" class="form-control" name="Quantity" >
      
    </div>

    <div class="form-group">
      <!-- <label for="Contact" class="cellNo">Contact Details:</label> -->
      <input id="Contact" required type="text" [disabled]="true"  placeholder="Contact Details" class="form-control"  name="Contact" >
    
    </div>

    <div class="form-group">
      <!-- <label for="Address" class="Address">Physical Address:</label> -->
      <input id="Address" required type="text" rows="6" cols="150%" [disabled]="true" placeholder="Physical Address"   class="form-control" name="Address" >
    </div>

    <div class="form-group ">
        <!-- <div class="label"><label for="progress " class="progress">Order Status:</label></div> -->
      
      <select id="progress" required type="text"  placeholder="Order progress"  class="form-control" name="progress" >

        <option value="Art">In Progress</option>
        <option value="Music">Out for delivery</option>
        <option value="Business">Ready for collection</option>
        
        

      </select>
    </div>

    <button type="submit">Confirm</button>




 

              