<div class="container">
    <div class="d-flex mt-4 jusify-content-center">
        <div class="card p-2">
            <div class="row">
                <div class="col-3">
                    <div class="width">
                        <h2 class="mb-0">Nike Air</h2>
                        <a href="" class="nav-link">
                            <b class="text-secondary">Shoe</b>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex">
                        <img src="https://i.postimg.cc/PqHwgjxX/banner-product.png" class="img mt-3 ml-2 ps-3" alt="">
                        <p class="white-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container d-flex jusify-content-center mt-3 mb-2">
                <div class="btn  bg-dark text-white link-btn ps-2" style="display: flex; ">
                    <p class="mb-0" style="padding-left: 20px; ">R 300</p>
                    <mat-icon>shopping_cart</mat-icon>
    
                </div>
            </div>
        </div>
        
    </div>
    
 
</div>

<div class="bottom-nav">

    <div class="nav-options" >

        <div class="nav-item">
            <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
        </div>

        <div class="nav-item">
            <button><mat-icon>assignment</mat-icon></button>
            
        </div>

        <div class="nav-item">
            <button><mat-icon>shopping_cart</mat-icon></button>
        </div>
        <div class="nav-item">
            <button><mat-icon>account_circle</mat-icon></button>
            
        </div>
        <div class="nav-item">
            <button class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg></button>
            <label>Cart</label>
        </div>

    </div>
        
</div>

 