.bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;

    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }

  .nav-options .nav-item:nth-child(3),
  .nav-options .nav-item:nth-child(5)  mat-icon{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
    color: blueviolet;
  }
.jusify-content-center{
    display:flex;
  align-items:center;
  justify-content:center;

}
.card{
    border: none;
    background-color: gainsboro;
    width: 280px;
}
.img{
    width: 160px;
    height: 150px;
}
.container-img{
 background-color: gainsboro;
}
.width{
    width: 120px;
}
a{
    text-decoration: none;
    color: black;
}
.link-btn{
    width: 200px;
    border-radius: 100px;
    text-align: start;
    justify-content: space-between;

}
.cart-icon{
    width: 34px;
    height: 34px;
}
.white-2{
    margin-left: 5px;
}

