<div class="container">
    <p class="mt-3"><b>Makasana</b></p>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="container">
            <p class="text-align mt-4">
                
            </p>
<div class="side">
 <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-check-circle text-align" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
              </svg>

</div>
<br/>
<br>
           

              <div class="container">
                <p class="mb-0"><b>ORDER INFORMATION</b></p>
                <p class="text-align font">Order #346362</p>
              </div>
              <hr/>
        </div>
    </div>
    <div class="container">
        <div class="card containe p-2 mt-4">
            <div class="containe row">
                <div class="col-6">
                    <img src="https://us.123rf.com/450wm/rachmatbudiaji/rachmatbudiaji2104/rachmatbudiaji210400074/168114280-food-burger-vector-logo-illustration.jpg?ver=6">
                </div>
                <div class="col-6">
                    <p class="font2 mb-1"><b>Burger Pozi</b></p>
                    <hr/>
                    <p class="font-w mb-1">#346362</p>
                    <p class="font-w mb-1">R175</p>
                    <p class="font-w mb-1">Payment method</p>
                    <p class="font-w mb-1">Order status </p>
                    <p class="font-w mb-1">11-11-2023</p>
                </div>
            </div>
        </div>
        <div class="card containe p-2 mt-4">
            <p class="font2 mb-1"><b>Track Order Status</b></p>
            <br/>
            <ul>
            <li>
                <p class="font-w mb-1">Order #346362 is ready for collection!</p>
            </li>

            </ul>
            
        </div>




        <div class="d-flex mt-4  justify-content-center" routerLink="/track-order">
            <button class="btn border-radius-100  bg-dark text-white mt-3">
                Back to Orders
            </button>
        </div>
    </div>

</div>

<div class="bottom-nav">

    <div class="nav-options" >

        <div class="nav-item">
            <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
        </div>

        <div class="nav-item">
            <button><mat-icon>assignment</mat-icon></button>
            
        </div>

        <div class="nav-item">
            <button><mat-icon>shopping_cart</mat-icon></button>
        </div>
        <div class="nav-item">
            <button><mat-icon>account_circle</mat-icon></button>
            
        </div>
        <div class="nav-item">
            <button class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi svg bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>
            </button>
            <label class="cart">Wish List</label>
            
        </div>

    </div>
        
</div>