@media only screen and (max-width:700px){

    .dash-holder{
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    /* ----------NAV---------- */

    nav
    {
        background-color: blueviolet;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        height: 150px;
        gap: 20px;
    }

    .nav-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .c-details{
        display: flex;
        flex-direction: column;
        flex-basis: 1;
        height: 100%;
        gap: 5px;
        color: white;
        width: 100%;
    }

    
    .c-details label:nth-child(1){
        font-size: 18px;
        letter-spacing: 1px;
        bottom: 0;
    }
    
    .hamburger-icon{
        flex-basis: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .noti {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
         /* margin-right: 3%; */
    }

    .prof {
        width: 35px;
        height: 35px;
        border-radius: 50%;
         /* margin-right: 3%; */
    }

    .stock-details{
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: white;
        height: 100%;
        border-radius: 8px;
        color: rgb(0, 0, 0);
    }
    
    .main-logo{
        width: 130px;
        height: 100px;
    }

    .holder{
        background-color: white;
        padding: 12px 10px 10px 10px;
        display: flex; 
        gap: 10px;
        flex-direction: column;
    }

    .products-div{
        padding: 5px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    }

    .products-div .labels{
        flex-grow:1;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        
    }

    .item-holder{
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    .lblHeaders{
        font-size: 16px;
        font-weight: 600;
    }

    .products-div .labels label:nth-child(1){
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    .products-div-ii{
        background-color: white;
        border-radius: 30px 30px 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

    .menu-item{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    }

    .main-logo2{
        width: 120px;
        height: 90px;
    }
    
    .menu-item2{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    }

    .menu-item2 label{ 
        padding: 5px 0px;

    }

}