.dash-holder{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 12px;
}

/* ----------NAV---------- */

.tra{
    height: 65px;
  }
nav
{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 160px;
    gap: 10px;
}

.nav-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c-details{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    height: 100%;
    gap: 5px;
    color: white;
    width: 100%;
}


.c-details label:nth-child(1){
    font-size: 18px;
    letter-spacing: 1px;
    bottom: 0;
}

.hamburger-icon{
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.noti {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
     /* margin-right: 3%; */
}

.prof {
    width: 35px;
    height: 35px;
    border-radius: 50%;
     /* margin-right: 3%; */
}

.Noti-panel{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    background-color: white;
    height: 100%;
    overflow:auto;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    flex-direction: column;
}


.noti-item{
    width: 100%;
    padding: 5px 0px;
}

.noti-item:hover{
    width: 100%;
    background-color: rgb(190, 190, 190);
    padding: 5px 0px;
}

.main-logo{
    width: auto;
    height: 120px;
}

.holder{
    background-color: white;
    display: flex; 
    gap: 20px;
    flex-direction: column;
    padding-top: 13px;
}

.products-div{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
}

 .labels{
    flex-grow:1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.labels label{
    text-align: center;
    font-size: 16px;
    
}

.item-holder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;

}

.lblHeaders{
    font-size: 17px;
    font-weight: 600;
}

.products-div .labels label:nth-child(1){
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.products-div-ii{
    background-color: white;
    border-radius: 30px 30px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
}

.menu-item{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.main-logo2{
    width: auto;
    height: 120px;
}

.menu-item2{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.menu-item2 label{ 
    padding: 5px 0px;
    font-size: 16px;

}

.products-div3{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-width: 90%; /*  change to 100% */
    border-radius: 15px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
}

.prod-item{
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

@media only screen and (max-width:700px){

    .dash-holder{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px 12px;
    }

    /* ----------NAV---------- */

    .tra{
        height: 65px;
      }
    nav
    {
        background-color: blueviolet;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 160px;
        gap: 10px;
    }

    .nav-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .c-details{
        display: flex;
        flex-direction: column;
        flex-basis: 1;
        height: 100%;
        gap: 5px;
        color: white;
        width: 100%;
    }

    
    .c-details label{
        font-size: 19px;
        letter-spacing: 1px;
        bottom: 0;
    }
    
    .hamburger-icon{
        flex-basis: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .noti {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
         /* margin-right: 3%; */
    }

    .prof {
        width: 35px;
        height: 35px;
        border-radius: 50%;
         /* margin-right: 3%; */
    }

    .Noti-panel{
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: white;
        height: 100%;
        overflow:auto;
        border-radius: 8px;
        color: rgb(0, 0, 0);
        display: flex;
        width: 100%;
        flex-direction: column;
    }


    .noti-item{
        width: 100%;
        padding: 5px 0px;
    }

    .noti-item:hover{
        width: 100%;
        background-color: rgb(190, 190, 190);
        padding: 5px 0px;
    }
    
    .main-logo{
        width: 130px;
        height: 100px;
    }

    .holder{
        background-color: white;
        display: flex; 
        gap: 20px;
        flex-direction: column;
        padding-top: 13px;
    }

    .products-div{
        padding: 5px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
    }

     .labels{
        flex-grow:1;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .labels label{
        text-align: center;
    }

    .item-holder{
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: transparent;

    }

    .lblHeaders{
        font-size: 16px;
        font-weight: 600;
    }

    .products-div .labels label:nth-child(1){
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    .products-div-ii{
        background-color: white;
        border-radius: 30px 30px 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px; 
    }

    .menu-item{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    }

    .main-logo2{
        width: 110px;
        height: 80px;
    }
    
    .menu-item2{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    }

    .menu-item2 label{ 
        padding: 5px 0px;

    }

    .products-div3{
        padding: 5px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 90%; /*  change to 100% */
        border-radius: 15px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
    }

    .prod-item{
        overflow: auto;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 5px;
    }

}



.bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;
  
    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
  }
  
  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }
  
  .nav-options .nav-item:nth-child(1),
  .nav-options .nav-item:nth-child(1) mat-icon{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }