
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="nav">
    <h2>Makasana</h2>
</div>


<div class="side">
    <img src="https://cdn-icons-png.flaticon.com/512/471/471662.png">
</div>

<div class="container">
  <div class="card containe p-2 mt-4">
    <div *ngFor="let orderDe of order, index as i" class="order">

        <hr>
        <div class="same-line2">
            <label>{{i+1}}</label>
        <p class="order-number">{{orderDe.orderNo}}</p>
        </div>
        <hr>+
        <div class="same-line">
            <label>Title:</label>
            <p class="info">{{orderDe.title}}</p>
        </div>
        <div class="same-line">
        <label>Quantity:</label>
        <p class="info">{{orderDe.quantity}}</p>
        </div>
        <div class="same-line">
        <label>Date:</label>
        <p class="info">{{orderDe.date}}</p>
        </div>
        <div class="same-line">
        <label>Total:</label>
        <b><p class="info">{{orderDe.price | currency: 'R'}}</p></b>
        </div>
        <div class="same-line">
        <label>Status:</label>
        <p class="info it">{{orderDe.order_status}}</p>
        </div>
        
    </div>
<br/>
        <div class="form-group ">
      
      <select id="progress" required type="text"  placeholder="Order progress"  class="form-control" name="progress" >

        <option value="Busy">In Progress</option>
        <option value="Out">Out for delivery</option>
        <option value="Collect">Ready for collection</option>

      </select>
    </div>

</div>
<br/>


    <button type="submit">Change customer order state</button>

    <div class="bottom-nav">

      <div class="nav-options" >

          <div class="nav-item">
              <button routerLink="/dashboard"><mat-icon>home</mat-icon></button>
          </div>

          <div class="nav-item">
              <button><mat-icon>assignment</mat-icon></button>
              <label>Orders</label>
          </div>

          <div class="nav-item">
              <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
              
          </div>

          <!-- <div class="nav-item">
              <button><mat-icon>launch</mat-icon></button>
              
          </div> -->

          <div class="nav-item">
              <button routerLink="/buss-profile"><mat-icon>account_circle</mat-icon></button>
              
          </div>

          <div class="nav-item">
            <button routerLink="/makasana"><mat-icon>logout</mat-icon></button>
        </div>

      </div>
          
  </div>


 

              