
.div-form {

    text-align: left;
    padding: 10px;
   
} 

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 0%;
  }

.side img{

    width: 40%;
    height: 40%;
    margin-left: 27%;
    margin-right: 20%;

  }
  .form-group {
    display: flex;
    align-items: right;
    margin-bottom: 10px;
    padding: 5px;
  }
    #progress{
    flex: 2;
    width:10%;
    margin-left: 0%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }


  
  .form-group label {
    flex: 1;
    padding-right: 0;
    padding: 7px;
    margin-left: 0%;

  }
  
  .form-group input[type="text"] {
    flex: 2;
    width:10%;
    margin-left: 0%;
    padding: 16px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-group {
    text-align: left;
    margin-top: 5px;
  }
  
      button[type="submit"] {
        background-color: #1d1f20;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
  
    }
    
    .containe{
      display: flex;
      justify-content: center;
      align-items: left;
    }
    .containe img{
      width:100px;
      height:100px;
      margin-top: 15%;
      margin-left: 21%;
      
    }
    .containe{
      align-items: right;
    }
    
    .h1{
      align-items: center;
    }
    .side img{

      width: 30%;
      height: 30%;
      margin-left: 35%;
      margin-top: 10%;
  
    }

    
.bottom-nav{
  background-color: brown;
  background-color: white;
  padding: 8px;
  position: fixed;
  bottom: 0;
  display: flex;

  border: none;
  outline: none;
  border-top: 1px solid rgb(204, 204, 204);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-options{
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
  background-color: transparent;
  width: 100%;
  border: none;
  gap: 0px;
}

.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.nav-item button{
  background-color: transparent;
  padding: 0px;
  border: none;
  outline: none;
}

.nav-options .nav-item:nth-child(2),
.nav-options .nav-item:nth-child(2) mat-icon{
  color: blueviolet;
}
.nav-item label{
  font-size: 11px;
}


.order-holder{
  display: flex;
  flex-direction: column;
}

.order{
  /* border: 1px solid rgb(192, 192, 192); */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 10px;
}

.order p{
  margin: 0px;
}

.order hr{
  margin: 8px 0px;
}

.same-line{
  display: flex;
  gap: 8px;
  font-weight: 600;
}

.info{
  width: 100%;
}

.it{
  font-style: italic;
}

.same-line2{
  display: flex;
}

.same-line2 p{
  width: 100%;
  text-align: end;
}

.invi{
  height: 66px;
}
