.logo{
    width: 100px;
    border-radius: 50px;
    height: 100px;
    justify-content:center ;
    align-items: center;
    /* margin-top: 4%; */


}

.label{
    margin-top: 3%;
    margin-left: 35%;
    position: relative;
    font-size: large;
}

.category{
    margin-top: 3%;
}

.clothing{
    position: relative;
    margin-top: -9%;
    margin-left: 15%;

}

.mail{
    position: relative;
    margin-left: 3%;
}

.email{
    position: relative;
    margin-top: -7%;
    margin-left: 13%;
}

.time{
    margin-left: 3%;
}


.top-bar{
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    color: black;
    padding: 10px;
}

.top-bar button{
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.top-bar button span{
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.top-bar button mat-icon{
    padding: 0px;
}


/* b{
    text-align: center;
    color: black;

  } */

  /* .text{
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    position: relative;
  } */

.container{
    color: white;
    width: 300px;
    height: auto;
    border-radius: 20px;
    border-bottom: white;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.container p, .container img{
    padding: 0px;
    margin: 0px;
}


h2{
    margin-left: 4%;
    position: relative;
}

hr{
    margin: 10px;
}

.item{
    display: flex;
    gap: 5px;
}

.holder-main{
    margin-top: 50px;
}

.img-lbl{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    color: black;
    font-weight: 600;
}

.container1{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;

}

.location{
    margin-left: 3%;
    position: relative;
    margin-top: 5%;

}

.address{
    margin-left: 15%;
    /* font-size: medium; */
    margin-top: -7% ;
    position: relative;
}

.hours{
    position: relative;
    margin-left: 12%;
    margin-top: -7%;
}

.circle{
    position: relative;
    margin-left: 3%;
}

.information{
    position: relative;
    margin-left: 15%;
    margin-top: -9%;
}

.bottom-nav{
    background-color: brown;
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    display: flex;
  
    border: none;
    outline: none;
    border-top: 1px solid rgb(204, 204, 204);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-options{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    background-color: transparent;
    width: 100%;
    border: none;
    gap: 0px;
    padding-left: 5px;
  }
  
  .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .nav-item button{
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
  }
  
  .nav-options .nav-item:nth-child(3),
  .nav-options .nav-item:nth-child(3) mat-icon{
    color: blueviolet;
  }
  .nav-item label{
    font-size: 11px;
  }