<!-- <img src="../../../../assets/images/back-svgrepo-com.svg" alt="" style="width: 25px; height: 25px; margin-top: 2%; margin-left: 3%;"> -->

<h2 style="font-size: large; margin-left: 25%; margin-top: 2%;">Consumer Infomation</h2>


<img class="logo" src="../../../assets/images/shop.jpg" >

<h2 class="label">Vicky Dena</h2>
<!-- <h4 class="mail">rocklandsdesign@gmail.com</h4> -->

<!-- <div class="container"> -->
  <!-- <img class="category"  src="../../../../assets/images/tags-category-categories-labels-svgrepo-com.svg" alt="" style="width: 25px; height: 25px;">
 <h3 class="clothing" >Clothing</h3> 
  <hr> -->
  <!-- <img class="circle" src="../../../../assets/images/information-circle-svgrepo-com.svg" alt="" style="width: 20px; height: 20px;">
  <p class="information">We sell items of ready-made clothing</p>
</div> -->

<div class="container1" >
<img class="location" src="../../../../assets/images/location-svgrepo-com.svg" alt="" style="width: 20px; height: 20px;">
<p class="address">3425 Embor Road, Cape Town</p>
<hr>
<img class="time" src="../../../../assets/images/phone-flip-svgrepo-com.svg" alt=""  style="width: 20px; height: 20px;">
<p class="hours"> 067 345 6786</p>
<hr>
<img class="mail" src="../../../../assets/images/email-svgrepo-com.svg" alt="" style="width: 20px; height: 20px;">
<p class="email">Vickydena@gmail.com</p>
</div>

<div class="bottom-nav">

  <div class="nav-options" >

      <div class="nav-item">
          <button routerLink="/home"><mat-icon>home</mat-icon></button>
      </div>

      <div class="nav-item">
          <button><mat-icon>assignment</mat-icon></button>
         
      </div>

      <div class="nav-item">
          <button routerLink="/my-products"><mat-icon>store</mat-icon></button>
          
      </div>

      <div class="nav-item">
          <button><mat-icon>launch</mat-icon></button>
          
      </div>

      <div class="nav-item">
          <button routerLink="/buss-profile"><mat-icon>account_circle</mat-icon></button>
          <label>Profile</label>
          
      </div>

  </div>
      
</div>

<!-- </div>     -->







